<div id="hh-user" class="topContent container">
  <div class="row">

    <%= render :partial => "setting_left_tab", :locals => {:active_tab => 'reservation' }%>
   


    <div class="col-sm-9 col-lg-9">
        <div class="storyContent setting" id ="dashboard">
        <!-- <div class="settings-panel"> -->
            <div class="header">
              <h3>Reservations</h3>
            </div>
            <div class="content">
              <h4>Your Reservations</h4>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#upcoming" data-toggle="tab">Upcoming Reservations</a></li>
                  <li class=""><a href="#past" data-toggle="tab">Past Reservations</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" id="account-reservation">
                  <div class="tab-pane fade active in" id="upcoming">
                    <div class="table-responsive">
                      <table class="table table-striped visit-table">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Restaurants</th>
                            <th>Seats</th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @reservations_upcoming.each do |reservation| %>
                            <tr>
                              <td><%= reservation.date_format %></td>
                              <td><%= reservation.start_time_format %></td>
                              <td class="table-align-left"><%= reservation.restaurant.name %></td>
                              <td><%= reservation.party_size %></td>
                              <td>
                                <%= link_to '<i class="glyphicon glyphicon-search action" style="color: #000000;" id="viewReservation"></i>'.html_safe, reservation, remote: true %>
                              </td>
                              <td style="width: 95px;">
                              <% if reservation.active %>
                                <%= link_to 'Cancel', toggle_reservation_url(reservation, :arg => "active", process: "0"), :method => :put , remote: true, class: "btn btn-reservation btn-xs"%>
                              <% else %>
                                <%#= link_to '<i class="glyphicon glyphicon-repeat action" id="cancelReservation"></i>'.html_safe, toggle_reservation_url(reservation, :arg => "active"), :method => :put, remote: true   %>
                                <div style="color: #000; text-decoration: none; background-color: #f4f4f4; border: 2px solid #2a2a2a; border-radius: 4px; width: 85 px; padding: 0px 3px;font-family: Lato, Helvetica, Arial, sans-serif;font-size: 12px;">
                                  CANCELLED
                                </div>
                              <% end %>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="past">
                    <div class="table-responsive">
                      <table class="table table-striped visit-table">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Restaurants</th>
                            <th>Seats</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @reservations_past.each do |reservation| %>
                            <tr>
                              <td><%= reservation.date_format %></td>
                              <td><%= reservation.start_time_format %></td>
                              <td class="table-align-left"><%= reservation.restaurant.name %></td>
                              <td><%= reservation.party_size %></td>
                              <td>
                                <%= link_to '<i class="glyphicon glyphicon-search action" id="viewReservation"></i>'.html_safe, reservation, remote: true %>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>


            </div>
          </div>
    </div>



  </div><!--/row-->
</div>


<%= render "reservations/modal" %>
<%= render "reservations/destroy_popup" %>