<div id="hh-user" class="topContent container">
  <div class="row">

    <%= render :partial => "setting_left_tab", :locals => {:active_tab => 'rewards' }%>
   

   
    <div class="col-sm-9 col-lg-9">
        <div class="storyContent setting" id ="dashboard">
        <!-- <div class="settings-panel"> -->
            <div class="header">
              <h3>Rewards</h3>
            </div>
            <div class="content">


                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#received" data-toggle="tab">Rewards Received</a></li>
                  <li class=""><a href="#redeemed" data-toggle="tab">Rewards Redeemed</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" id="account-reservation">
                  <div class="tab-pane fade active in" id="received">
                    <div class="table-responsive">
                      <table class="table table-striped reservation-table">
                        <thead>
                          <tr>
                            <th style="text-align: left;">Rewards type</th>
                            <th style="text-align: left;">Restaurant</th>
                            <th>Points</th>
                            <th>Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @rewards_received.each do |reward| %>
                            <tr>
                              <td class="table-align-left">
                                Reservation Reward
                              </td>
                              <td class="table-align-left">
                                <%= reward.restaurant.name %>
                              </td>
                              <td>
                                <%= reward.points_total %>
                              </td>
                              <td>
                                <%= reward.created_at.to_time.strftime('%d/%m/%Y') %>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="redeemed">
                    <div class="table-responsive">
                      <table class="table table-striped reservation-table">
                        <thead>
                          <tr>
                            <th style="text-align: left;">Restaurant</th>
                            <th>Points Redeemed</th>
                            <th>Date</th>
                          </tr>
                        </thead>
                        <tbody>
                        <% @rewards_redeemed.each do |reward| %>
                          <tr>
                            <td class="table-align-left">
                              <%= reward.restaurant.name %>
                            </td>
                            <td>
                              <%= reward.points_total %>
                            </td>
                            <td>
                              <%= reward.created_at.to_time.strftime('%d/%m/%Y') %>
                            </td>
                          </tr>
                        <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              
            </div>
          </div>
    </div>



  </div><!--/row-->
</div>