<%= simple_form_for([@inventory], html: { class: "form-horizontal"}) do |f| %>

  <!-- <div style="width:200px"> -->
  <%#= f.association :restaurant, label: "Restaurant" %>
  <%= f.input :date, :disabled => true, as: :date, start_year: Time.zone.today.year,
              end_year: Time.zone.today.year+1, 
              order: [:day, :month, :year], label: "Date" %>
  <%= f.input :start_time, :disabled => true, :minute_step => 15, label: "Start Time" %>
  <%= f.input :end_time, :disabled => true, :minute_step => 15, label: "End Time" %>
  <%= f.input :quantity_available, label: "Quantity Available" %>
  <!-- </div> -->

  <div class="actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
    
<% end %>