<%= simple_form_for([@inventory], html: { class: "form-horizontal"}) do |f| %>
  <div class="col-sm-12 col-lg-12">

  <!-- <div style="width:200px"> -->
  <%#= f.association :restaurant, label: "Restaurant" %>
  <%= f.input :date, as: :date, start_year: Time.zone.today.year,
              end_year: Time.zone.today.year+1, 
              order: [:day, :month, :year], label: "Date" %>
  <%= f.input :start_time, :minute_step => 15, label: "Start Time" %>
  <p>End-time automaticly set as "start-time" + 15 minutes
  </p>
  <%#= f.input :end_time, :minute_step => 15, label: "End Time" %>
  <%= f.input :quantity_available, label: "Quantity Available" %>
  <!-- </div> -->

  <div class="actions">
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to 'Back', inventories_path, class: "btn btn-primary" %>
  </div>
  </div>
    
<% end %>