<h1>Listing inventories</h1>

<% unless @inventories.blank? %>
<table>
  <tr>
    <th>Restaurant</th>
    <th>Date</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Quantity available</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventories.each do |inventory| %>
  <tr>
    <td><%= inventory.restaurant.name %></td>
    <td><%= inventory.date %></td>
    <td><%= mtime(inventory.start_time) %></td>
    <td><%= mtime(inventory.end_time) %></td>
    <td><%= inventory.quantity_available %></td>
    <td><%= link_to 'Show', inventory %></td>
    <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
    <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<% end %>
</table>

<br />

<%= link_to 'New Inventory', new_inventory_path %>
