<div class="topContent container">
  <div class="row">
    <%= render :partial => "/shared/setting" %>
    <%= render :partial => "/shared/setting_left_tab", :locals => {:active_tab => 'inventories' }%>
    <div class="col-sm-8 col-sm-8">
      <div class="storyContent setting">
        <div class="header">
          <h3 class="rmedium">Inventories</h3>
        </div>
        <div class="content"> 

          <p>
            <b>Restaurant:</b>
            <%= @inventory.restaurant.name %>
          </p>

          <p>
            <b>Date:</b>
            <%= @inventory.date %>
          </p>

          <p>
            <b>Start time:</b>
            <%= mtime(@inventory.start_time) %>
          </p>

          <p>
            <b>End time:</b>
            <%= mtime(@inventory.end_time) %>
          </p>

          <p>
            <b>Quantity available:</b>
            <%= @inventory.quantity_available %>
          </p>


          <%= link_to 'Back', inventories_path %> |
          <%= link_to 'Edit', edit_inventory_path(@inventory) %> |
          <%= link_to 'Destroy', @inventory, method: :delete, data: { confirm: 'Are you sure?' }  %>

        </div>
      </div>
    </div>
  </div>
</div>