<p id="notice"><%= notice %></p>

<p>
  <b>Restaurant:</b>
  <%= @inventory.restaurant.name %>
</p>

<p>
  <b>Date:</b>
  <%= @inventory.date %>
</p>

<p>
  <b>Start time:</b>
  <%= mtime(@inventory.start_time) %>
</p>

<p>
  <b>End time:</b>
  <%= mtime(@inventory.end_time) %>
</p>

<p>
  <b>Quantity available:</b>
  <%= @inventory.quantity_available %>
</p>


<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
