 <div class="col-sm-12 col-lg-4">
  <div class="settingMenu">
    <ul>
      <li><%= link_to 'Dashboard', "#" %></li>
      <li><%= link_to "My Restaurant", current_owner.restaurant.blank? ? new_restaurant_path  : restaurant_path(current_owner.restaurant)  %></li>
      <li><%= link_to "Reservation", reservations_path %></li>
      <li><%= link_to 'Inventories', inventories_path %></li>
      <li><%= link_to 'Inventory Template', inventory_templates_path %></li>
      <li><%= link_to 'Inventory Template Groups', inventory_template_groups_path %></li>
      <li><%= link_to 'Account Profile', "#" %></li>
    </ul>
  </div>
</div>  <!-- /main col left -->      