<div class="topContent container">
  <div class="row">
    <%= render :partial => "/shared/setting" %>
    <%= render :partial => "/shared/setting_left_tab", :locals => {:active_tab => 'inventory_template_groups' }%>
    <div class="col-sm-8 col-sm-8">
      <div class="storyContent setting">
        <div class="header">
          <h3 class="rmedium">Inventory Template Groups</h3>
        </div>
        <div class="content">
        
          <% unless @inventory_template_groups.blank? %>
            <table  class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <!-- <th>Restaurant</th> -->
                  <th>Name</th>
                  <th>Primary</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <% @inventory_template_groups.each do |itg| %>
                <tr>
                  <!-- <td><%#= itg.restaurant.name %></td> -->
                  <td><%= itg.name %></td>
                  <td><%= itg.primary %></td>
                  <td><%= link_to 'Show', itg %></td>
                  <td><%= link_to 'Edit', edit_inventory_template_group_path(itg) %></td>
                  <td><%= link_to 'Destroy', itg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </table>
          <% else %>
            There no inventories template groups now
          <% end %>
          <div class="navigation">
            <%= paginate @inventory_template_groups, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered" %>
          </div>
          <br />
          <%= link_to 'New Inventory Template Group', new_inventory_template_group_path %>
        </div>
      </div>
    </div>
  </div>
</div>