<div class="topContent container">

  <h2>Restaurant Owner Registration</h2>

  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: "form-horizontal"} ) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs" style="width:300px;">
      <%= f.input :email, :required => true, :autofocus => true %>
      <%= f.input :owner_name, :required => true %>
      <%= f.input :phone, :required => true %>
      <%= f.input :password, :required => true %>
      <%= f.input :password_confirmation, :required => true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" , :class => 'btn btn-success btn-large' %>
    </div>
  <% end %>

  <%= render "owners/shared/links" %>
</div>