<%= simple_form_for([@inventory_template], html: { class: "form-horizontal"}) do |f| %>
 
  <!-- <%= f.association :restaurant, label: "Restaurant" %> -->
  <%= f.input :name, label: "Name" %>

  <p />
  <table  class="table table-striped table-bordered table-hover" style="width:200px;">
    <thead>
      <tr>
        <th></th>
        <th>:00</th>
        <th>:15</th>
        <th>:30</th>
        <th>:45</th>
      </tr>
      </thead>
    <% get_intervals.each_with_index do |interval, index| %>
      <% if index%4 == 0 and interval != "24:00" %> 
        <tr>
          <td style="font-weight:bold;"><%= interval.slice(0..1) %></td>
          <td>
            <%= f.input "quantity_available[#{@intervals.index(interval)}]" , label: false, :input_html => { :value => '0', class: 'inventory_template_quantity_available' }, as: :integer %>
          </td>
          <td>
            <%= f.input "quantity_available[#{@intervals.index(interval)+1}]" , label: false, :input_html => { :value => '0', class: 'inventory_template_quantity_available' }, as: :integer %>
          </td>
          <td>
            <%= f.input "quantity_available[#{@intervals.index(interval)+2}]" , label: false, :input_html => { :value => '0', class: 'inventory_template_quantity_available' }, as: :integer %>
          </td>
          <td>
            <%= f.input "quantity_available[#{@intervals.index(interval)+3}]" , label: false, :input_html => { :value => '0', class: 'inventory_template_quantity_available' }, as: :integer %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <%= f.input :primary, label: "Primary" %>
 
  <div class="actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
  
<% end %>