<%= simple_form_for([@inventory_template], html: { class: "form-horizontal"}) do |f| %>
 
  <!-- <%= f.association :restaurant, label: "Restaurant" %> -->
  <%= f.input :name, label: "Name" %>

  <p />
  <table  class="table table-striped table-bordered table-hover" style="width:200px;">
    <thead>
      <tr>
        <th>Time</th>
        <th style="width:80px;">Quantity available</th>
      </tr>
      </thead>
    <% get_intervals.each do |interval|  %>
      <% unless interval == "24:00" %>
        <tr>
          <td><%= interval %> - <%= @intervals[@intervals.index(interval)+1] %></td>
          <td>
            <%= f.input "quantity_available[#{@intervals.index(interval)}]" , label: false, :input_html => { :value => '0', class: 'inventory_template_quantity_available' }, as: :integer %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <!-- <%= f.input :start_time, :minute_step => 15, label: "Start Time" %> -->
  <!-- <%= f.input :end_time, :minute_step => 15, label: "End Time" %> -->

  <%= f.input :primary, label: "Primary" %>
 
  <div class="actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
  
<% end %>