<div class="topContent container">
  <div class="row">
    <%= render :partial => "/shared/setting" %>
    <%= render :partial => "/shared/setting_left_tab", :locals => {:active_tab => 'inventory_templates' }%>
    <div class="col-sm-8 col-sm-8">
      <div class="storyContent setting">
        <div class="header">
          <h3 class="rmedium">Inventory Templates</h3>
        </div>
        <div class="content"> 
          <% unless @inventory_templates.blank? %>
            <table  class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Inventory Template Group</th>
                  <!-- <th>Restaurant</th> -->
                  <!-- <th>Name</th> -->
                  <th>Start time</th>
                  <th>End time</th>
                  <th>Quantity available</th>
                  <!-- <th>Primary</th> -->
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <% @inventory_templates.each do |inventory_template| %>
                <tr>
                  <td><%= inventory_template.inventory_template_group.name %></td>
                  <!-- <td><%#= inventory_template.restaurant.name %></td> -->
                  <!-- <td><%#= inventory_template.name %></td> -->
                  <td><%= mtime(inventory_template.start_time) %></td>
                  <td><%= mtime(inventory_template.end_time) %></td>
                  <td><%= inventory_template.quantity_available %></td>
                  <!-- <td><%#= inventory_template.primary %></td> -->
                  <td><%= link_to 'Show', inventory_template %></td>
                  <td><%= link_to 'Edit', edit_inventory_template_path(inventory_template) %></td>
                  <td><%= link_to 'Destroy', inventory_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </table>
          <% else %>
            There no inventories template now
          <% end %>
          <div class="navigation">
            <%= paginate @inventory_templates, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered" %>
          </div>
          <br />
          <%= link_to 'New Inventory template', new_inventory_template_path %>
        </div>
      </div>
    </div>
  </div>
</div>