<p id="notice"><%= notice %></p>

<p>
  <b>Restaurant:</b>
  <%= @inventory_template.restaurant.name %>
</p>

<p>
  <b>Name:</b>
  <%= @inventory_template.name %>
</p>

<p>
  <b>Start time:</b>
  <%= mtime(@inventory_template.start_time) %>
</p>

<p>
  <b>End time:</b>
  <%= mtime(@inventory_template.end_time) %>
</p>

<p>
  <b>Quantity available:</b>
  <%= @inventory_template.quantity_available %>
</p>

<p>
  <b>Primary:</b>
  <%= @inventory_template.primary %>
</p>


<%= link_to 'Edit', edit_inventory_template_path(@inventory_template) %> |
<%= link_to 'Back', inventory_templates_path %>
