<div class="screenfade"></div>
<% if user_signed_in? == false %>
  <div class="model model-login">
    <div class="header">
      <i class="glyphicon glyphicon-remove" onclick="closeModel('login');"></i>
      <h4 class="lbold">Log In</h4>
    </div>
    <div class="content">
      <%= link_to "Facebook", omniauth_authorize_path(:user, :facebook), :id => "fb-connect", :class => "btn facebook" %>

      <h4 class="rregular">OR Log In With Email Address</h4>
      <div class="error rregular" style="display:none;color:#933b3b;padding:15px 10px;background:#f2dede;border-radius:5px;"><span class="rbold">Invalid Email or Password! </span>&nbsp;&nbsp;Please check it again
      </div>

      <%= form_for :user, :url => user_session_path do |f| %>
        <div class="email">
          <%= f.text_field :email, :class=> "rregular", :placeholder=>"Email Address" %>
        </div>
        <div class="password">
          <%= f.password_field :password, :class=> "rregular", :placeholder=>"Password" %>
        </div>
        <div class="submit">
          <%= f.submit 'LogIn', :class=> "btn lblack" %>
        </div>
      <% end %>
      <h5 class="rregular"><%= link_to "Forgot your password?", new_user_password_path %></h5>
    </div>
  </div>

  <div class="model model-signup">
    <div class="header">
      <i class="glyphicon glyphicon-remove" onclick="closeModel('signup');"></i>
      <h4 class="lbold">Sign Up</h4>
    </div>
    <div class="content">
      <%= link_to "Sign up with Facebook", omniauth_authorize_path(:user, :facebook), :id => "fb-connect", :class => "btn facebook" %>

      <h4 class="rregular">OR Sign In With Email Address</h4>
      <%= form_for :user, :url => user_registration_path do |f| %>
        <div class="name">
          <%= f.text_field :username, :class=> "rregular", :placeholder=>"Your Name" %>
        </div>
        <div class="email">
          <%= f.text_field :email, :class=> "rregular", :placeholder=>"Email Address" %>
        </div>
        <div class="phone">
          <%= f.text_field :phone, :class=> "rregular", :placeholder=>"Phone" %>
        </div>
        <div class="password">
          <%= f.password_field :password, :class=> "rregular", :placeholder=>"Password" %>
        </div>
        <div class="password">
          <%= f.password_field :password_confirmation, :class=> "rregular", :placeholder=>"Confirm Password" %>
        </div>
        <div class="submit">
          <%= f.submit 'Sign up', :class=> "btn lblack" %>
        </div>
      <% end %>
      <h5 class="rregular">By registration, you are agreeing to out Term of Service</h5>
    </div>
  </div>
<% end %>

<% unless owner_signed_in? %>
  <div class="model model-ownerlogin">
    <div class="header">
      <i class="glyphicon glyphicon-remove" onclick="closeModel('ownerlogin');"></i>
      <h4 class="lbold">Restaurant Owner Log In</h4>
    </div>
    <div class="content">
      <div class="error rregular" style="display:none;color:#933b3b;padding:15px 10px;background:#f2dede;border-radius:5px;">
        <span class="rbold">Invalid Email or Password! </span>&nbsp;&nbsp;Please check it again
      </div>
      
      <%= form_for :owner, :url => owner_session_path do |f| %>
        <div class="email">
          <%= f.text_field :email, :class=> "rregular", :placeholder=>"Email Address" %>
        </div>
        <div class="password">
          <%= f.password_field :password, :class=> "rregular", :placeholder=>"Password" %>
        </div>
        <div class="submit">
          <%= f.submit 'LogIn', :class=> "btn lblack" %>
        </div>
      <% end %>
      <h5 class="rregular"> <%= link_to "Forgot your password?", new_owner_password_path %></h5>
    </div>
  </div>
<% end %>


<% if controller.to_s.include? "Restaurants" %>
<div class="model model-check">
  <div class="header">
    <i class="glyphicon glyphicon-remove" onclick="closeModel('check');"></i>
    <h4 class="lbold">Check Availability</h4></div>
    <div class="content">
      <%= form_tag("/check_availability", method: "get") do %>
      <!-- <form method="get" action="#"> -->
      <input type="hidden" name="check" value="true"/>
      
      <div class="advanceSearch">
        <div class="error rregular" style="display:none;color:#933b3b;padding:15px 10px;background:#f2dede;border-radius:5px;"><span class="rbold">Oh sorry! </span>&nbsp;&nbsp;We don't have a table for you. Try it again!</div>
        <div class="date">
          <div class="title">Selected Date:</div>
          <div class="text">
            <i class="glyphicon glyphicon-calendar"></i>
            <input type="text" id="datepicker" name="datepicker" class="rregular" value="<%= params["datepicker"].blank? ? Date.today.strftime('%m/%d/%Y') :  Date.strptime(params['datepicker'], '%m-%d-%Y').strftime('%m/%d/%Y')  %>">
            <i class="glyphicon glyphicon-chevron-down"></i>
            
            <!-- <script type="text/javascript">
              $('#datepicker').datepicker();
            </script> -->
          </div>
        </div>
        <div class="time">
          <div class="title">Requested Time:</div>
          <div class="text">
            <i class="glyphicon glyphicon-time"></i>
            <input type="text" id="timepicker" name="timepicker" class="rregular" value="<%= params["timepicker"].blank? ? "" : params["timepicker"] %>">
            <i class="glyphicon glyphicon-chevron-down"></i>
             <!--  <script type="text/javascript">
               $('#timepicker').timepicker();
             </script> -->
          </div>
        </div>

        <div class="people">
          <div class="title">Amount:</div>
            <div class="text"><i class="glyphicon glyphicon-user"></i>
                <div class="input-append btn-group">
                  <input class="rregular" name="people" id="people" type="hidden" value="2">
                  <div id="currectVal3" class="inputSelection rregular"></div>
                  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                  </a>
                  <ul class="dropdown-menu" id="selection">
                    <li><a title="1"> 1</a></li>
                    <li><a title="2"> 2</a></li>
                    <li><a title="3"> 3</a></li>
                    <li><a title="4"> 4</a></li>
                    <li><a title="5"> 5</a></li>
                    <li><a title="6"> 6</a></li>
                    <li><a title="7"> 7</a></li>
                    <li><a title="8"> 8</a></li>
                    <li><a title="9"> 9</a></li>
                    <li><a title="10"> 10</a></li>
                  </ul>
                  <script type="text/javascript">
                    $("#currectVal3").html(2);
                    $('#selection > li a').click(function(){
                      var selectVal = $(this).attr("title");
                      $("#people").attr("value",selectVal);
                      $("#currectVal3").html($(this).html());
                    });
                  </script>
                </div>
              </div>
            </div>
      <input type="hidden" name="restaurant_id" class="restaurant_id">
      </div>


      <h4 class="rbold">You are making a reservation for <span class="pink">The Garret Secret Bistro</span>.</h4>
      <h5 class="rregular">Special requests are not guaranteed and are subject to availability and restaurant discretion.</h5>
      <hr/>
      <div class="submit"><input type="submit" class="btn lblack" value="Check Now" /></div>
  
    <!-- </form> -->
    <% end %>

  </div>
</div>
<% end %>

<% unless params[:status].blank? %>
<div class="model model-reservation">
  <div class="header">
    <i class="glyphicon glyphicon-remove" onclick="closeModel('reservation');"></i>
    <h4 class="lbold">Make this reservation</h4>
  </div>
  <div class="content">

    <%#= form_tag "/make_book_from_restaurant", method: "get" do  %>
    <%= simple_form_for(@reservation, html: { class: "form-horizontal"}) do |f| %>

    <!-- <form method="get" action="#"> -->
      
      <div class="green rregular" style="color:#48874a;padding:15px 10px;background:#e0f0d9;border-radius:5px;">
        <span class="rbold">Well done! </span>&nbsp;&nbsp;We have a table for you.
      </div>

      <!-- <div class="name">
        <input class="rregular" type="text" placeholder="Your name" name="name"/>
      </div>
      <div class="email">
        <input class="rregular" type="text" placeholder="Email Address" name="email"/>
      </div>
      <div class="phone">
        <input class="rregular" type="text" placeholder="Phone" name="phone"/>
      </div> -->


      <% unless user_signed_in? %>
        <div class="name">
          <%= f.input :name, label: false, :placeholder => "Your name",  :required => :true, input_html: { class: "rregular" } %>
        </div>
        <div class="email">
          <%= f.input :email, label: false, :placeholder => "Your email",  :required => :true, input_html: { class: "rregular" } %>
        </div>
        <div class="phone">
          <%= f.input :phone, label: false, :placeholder => "Your phone",  :required => :true, input_html: { class: "rregular" } %>
        </div>
      <% end %>


      <%= f.input :restaurant_id, as: :hidden, input_html: { value: @restaurant.id }  %>
      <%= f.input :date, as: :hidden, input_html: { value: params["datepicker"] }  %> 
      <input id="reservation_start_time" name="reservation[start_time]" type="hidden" value="<%= params["timepicker"] %>" >
      <input id="reservation_end_time" name="reservation[end_time]" type="hidden" value="<%= (Time.parse(params["timepicker"]) + @restaurant.res_duration.minutes).strftime('%H:%M') %>" >
      <%#= f.input :start_time, as: :time, default: Time.parse(params["timepicker"]), input_html: { class: "1hidden_element" } %>
      <%= f.input :party_size, as: :hidden, input_html: { value: params["people"]} %>
      <!-- setup in controller to true -->
      <%#= f.input :active, label: false, input_html: { :checked => true,  class: "1hidden_element " } %>
      <input id="reservation_active" name="reservation[active]" type="hidden" value="true" >
 
      <div class="special">
        <%= f.input :special_request, label: false, :placeholder =>"Special Requests", as: :text, input_html: { rows: "3", class: "text_area_for_misc"} %>
        <!-- <textarea class="rregular" type="text" placeholder="Special Requests" name="special"></textarea> -->
      </div>

      <h5 class="rregular" style="text-align:left;">You are making a reservation for 
        <span class="pink">
          <!-- 2 -->
          <%= params["people"].blank? ? "" : params["people"] %>
          people
        </span>.
      </h5>
      <h5 class="rregular" style="text-align:left;">at 
        <span class="pink">
          <!-- The Garret Secret Bistro -->
          <%= @restaurant.name %>
        </span>.
      </h5>
      <h5 class="rregular" style="text-align:left;">on 
        <span class="pink">
          <!-- October 31 2013  -->
          <%= params["datepicker"].blank? ? "" :  Date.strptime(params['datepicker'], '%m-%d-%Y').to_formatted_s(:long) %>, 
          <!-- 6:15 PM -->
          <%= params["timepicker"].blank? ? "" : params["timepicker"] %>
        </span>.
      </h5> 
      <hr/>

      <div class="submit">
        <%= f.button :submit, "BOOK NOW", class: "btn btn-primary lblack" %>
        <!-- <button class="btn lblack" onclick="window.history.back();">PREVIOUS</button> -->
        <!-- <input type="submit" class="btn lblack" value="BOOK NOW" /> -->
      </div>

    <!-- </form> -->
    <% end %>

  </div>
</div>
<% end %>