<div class="col-sm-12 col-lg-4">
  <div class="settingMenu">
    <ul>
      <li><%= link_to "Dashboard", owner_dashboards_path, :class=> (active_tab == 'dashboard' ? 'active' : '') %></li>
      <li><%= link_to "My Restaurant", edit_restaurant_path(current_owner.restaurant), :class=> (active_tab == 'my_restaurant' ? 'active' : '') %></li>
      <li><%= link_to "Reservation", reservations_path, :class=> (active_tab == 'reservation' ? 'active' : '') %></li>
      <li><%= link_to "Inventories", inventories_path, :class=> (active_tab == 'inventories' ? 'active' : '') %></li>
      <li><%= link_to "Inventory Template", new_inventory_template_path, :class=> (active_tab == 'inventory_templates' ? 'active' : '') %></li>
      <li><%= link_to "Inventory Template Groups", inventory_template_groups_path, :class=> (active_tab == 'inventory_template_groups' ? 'active' : '') %></li>
      <li><%= link_to "Account Profile",  edit_owner_registration_path(current_owner), :class=> (active_tab == 'account_profile' ? 'active' : '') %></li>
    </ul>
  </div>
</div>