<div class="col-sm-12 col-lg-4">
  <div class="settingMenu">
    <ul>
      <li><%= link_to "Dashboard", owner_dashboards_path, :class=> (active_tab == 'dashboard' ? 'active' : '') %></li>
      <li><%= link_to "My Restaurant", restaurants_path, :class=> (active_tab == 'my_restaurant' ? 'active' : '') %></li>
      <li><%= link_to "Reservation", reservations_path, :class=> (active_tab == 'reservation' ? 'active' : '') %></li>
      <li><%= link_to "Inventories", inventories_path, :class=> (active_tab == 'inventories' ? 'active' : '') %></li>
      <li><%= link_to "Inventory Template", inventory_templates_path, :class=> (active_tab == 'inventory_templates' ? 'active' : '') %></li>
      <li><%= link_to "Inventory Template Groups", "#", :class=> (active_tab == 'inventory_template_groups' ? 'active' : '') %></li>
      <li><%= link_to "Account Profile", "#", :class=> (active_tab == 'account_profile' ? 'active' : '') %></li>
    </ul>
  </div>
</div>