<div id="hh-owner" class="topContent container">
  <div class="row">

    <%= render :partial => "setting_left_tab", :locals => {:active_tab => 'inventories' }%>
    
    <div class="col-sm-9 col-lg-9">
      <!-- <div class="storyContent setting" id ="dashboard"> -->
      <div class="settings-panel">
        <div class="header">
          <h3>Inventories</h3>
        </div>
        <div class="content">
          <div id="inventories">
                <ul class="media-list">
                  <li class="media">
                    <div class="media-body">
                      <div class="col-sm-12 col-lg-8">
                        <!-- <form action="" method="get" role="form"> -->
                          <!-- Date Picker -->
                          <div class="form-group">
                            <label>Date</label>
                            <div id="date-picker">
                              <div class="input-group date" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" class="form-control" value="<%= @inventory.present? ? @inventory.date.strftime('%d-%m-%Y') : "" %>" id="datepicker" name="datepicker" data-date-format="dd-mm-yyyy">
                              </div>
                              <script type="text/javascript">$('#datepicker').datepicker();</script>
                            </div>
                          </div>
                          <!-- Start Time Picker -->
                          <div class="form-group">
                            <label>Start Time</label>
                            <div id="start-time-picker">
                              <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                <input type="text" class="form-control" id="timepicker2" name="timepicker" value="<%= @inventory.present? ? @inventory.start_time_format : "" %>">
                              </div>
                              <script type="text/javascript">$('#timepicker2').timepicker({showMeridian: false});</script>
                            </div>
                          </div>
                          <!-- End Time Picker -->
                          <div class="form-group">
                            <label>End Time</label>
                            <div id="end-time-picker">
                              <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                <input type="text" class="form-control" id="timepicker" name="timepicker" value="<%= @inventory.present? ? @inventory.end_time_format : "" %>">
                              </div>
                              <script type="text/javascript">$('#timepicker').timepicker({showMeridian: false});</script>
                            </div>
                          </div>

                          <%= simple_form_for @inventory  do |f| %>
                            <div style="display:none">
                            <%= f.input :date, as: :date, start_year: Date.today.year,
                                        end_year: Date.today.year+1, 
                                        order: [:day, :month, :year], label: false %> 
                            <%= f.input :start_time, :minute_step => 15, label: false, :time_separator => ""  %>
                            <%= f.input :end_time, :minute_step => 15, label: false, :time_separator => ""  %>
                            </div>
                            <label>Quantity Available</label>
                            <%= f.input :quantity_available, collection: 1..10, include_blank: false, label: false %> 
                            <hr>
                            <!-- Update -->
                            <div class="form-group">
                              <div class="col-lg-4">
                                <%= f.button :submit, "Save", class: "btn btn-table" %>
                              </div>
                            </div>
                          <% end %>


                        <!-- </form> -->
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

        
        </div>
      </div>
    </div>
  </div><!--/row-->
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#datepicker').datepicker().on('changeDate', function (ev) {
        $('#datepicker').change();
    });
    $('#timepicker').datepicker().on('changeTime', function (ev) {
        $('#timepicker').change();
    });
    $('#timepicker2').datepicker().on('changeTime', function (ev) {
        $('#timepicker2').change();
    });

    $('#datepicker').change(function () {
        date = $('#datepicker').val();
        day = parseInt(date.substring(0, 2));
        mon = parseInt(date.substring(3, 5));
        year = parseInt(date.substring(6, 10));
        $("#inventory_date_3i").val(day);
        $("#inventory_date_2i").val(mon);
        $("#inventory_date_1i").val(year);
    });
    $('#timepicker2').change(function () {
        time = $('#timepicker2').val();
        hr = parseInt(time.substr(0, time.indexOf(':')));
        min = parseInt(time.substr(time.indexOf(':') + 1, time.length));
        fix = false
        if (!isInt(hr)) {
          hr = 0
          min = 0 
          fix = true
        }
        if (hr <= 9) {
          hr = "0" + hr.toString();
        } else {
          hr = hr.toString();
        }
        if (min <= 9) {
          min = "0" + min.toString();
        } else {
          min = min.toString();
        }
        if (fix) {
          $("#timepicker2").val(hr+":"+min);
        }
        $("#inventory_start_time_4i").val(hr);
        $("#inventory_start_time_5i").val(min);
    });
     $('#timepicker').change(function () {
        time = $('#timepicker').val();
        hr = parseInt(time.substr(0, time.indexOf(':')));
        min = parseInt(time.substr(time.indexOf(':') + 1, time.length));
        fix = false
        if (!isInt(hr)) {
          hr = 0
          min = 0 
          fix = true
        }
        if (hr <= 9) {
          hr = "0" + hr.toString();
        } else {
          hr = hr.toString();
        }
        if (min <= 9) {
          min = "0" + min.toString();
        } else {
          min = min.toString();
        }
        if (fix) {
          $("#timepicker2").val(hr+":"+min);
        }
        $("#inventory_end_time_4i").val(hr);
        $("#inventory_end_time_5i").val(min);
    });

    function isInt(n) {
       return typeof n === 'number' && n % 1 == 0;
    }
   });
</script>
