<div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">

          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Bangkok Restaurant Booking</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
          </div>
          <div class="row">

            <p><img src="hh_logo.jpg"></p>

            <%= form_tag("/search", method: "get") do %>
              <label for="price">Price</label>
              <%= select_tag "price" , "
              
            <option selected=\"selected\">Any</option>
            <option value=\"1\">&lt;100 thb</option>
            <option value=\"2\">100-250 thb</option>
            <option value=\"3\">251-500 thb</option>
            <option value=\"4\">500+ thb</option>".html_safe, :multiple => true, :include_blank => false%>  
              
              <label for="cuisine">Cuisine</label>
              <%= select_tag "cuisine", options_for_select( CuisineTag.all.map {|c| [c.title, c.id]}, :selected => 1), :multiple => true %>

              <label for="location">Location</label>
              <%= select_tag "location" , "
              
            <option selected=\"selected\">Any</option>
            <option>Surawong</option>
            <option>Thonglor</option>
            <option>Sukhumvit</option>".html_safe, :multiple => true, :include_blank => false%>

              <%= submit_tag("Search") %>
            <% end %>

            <p />

            


          </div><!--/row-->
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="well sidebar-nav">
            <ul class="nav">
              <li>Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proiden...</li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->





