<h1>Search Results</h1>
<p>You seached for 
  <% @search.each do |k,v| %>
    <%= v %> 
    <%= k %>
    <%= ", " unless k == "location" %>
  <% end %>
 </p>
 <p />

<% unless @search_results.blank? %>
  <%= image_tag @image_tag_string %>
  <table  class="table table-striped table-bordered table-hover" >
  <thead>
    <tr>
      <th>Name</th>
      <!-- <th>Category</th> -->
      <!-- <th>Price</th> -->
      <th>Restaurant tags</th>
      <th>Misc</th>
      <th></th>
    </tr> 
  </thead>

  <% @search_results.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <!-- <td><%= restaurant.category %></td> -->
      <!-- <td><%= price_to_dollars_symb(restaurant.price) %></td> -->
      <td><%= join_restaurant_tags(restaurant) %></td>
      <td><%= truncate(restaurant.misc, length: 50, omission: '... (continued)') %></td>
      <td><%= link_to 'Show', restaurant %></td>
    </tr>
  <% end %>
</table>  

<br />

<% else %>
  The are no restaurants found
  <br /> Please, change your request
<% end %>
