<div class="topContent container">
  <div class="row">
    <div class="col-sm-8 col-lg-8">
      <h2 class="rbold">Search Results</h2>
      <h3 class="rlight">We've found <%= @search_results.size %> restaurants for you.</h3>
      <div class="list result">
        <ul class="media-list">

         <% @search_results.each_with_index do |restaurant, index| %>
              
                <li class="media">
                  <a href="<%= restaurant_path(restaurant)%>" class="pull-left">
                    <% if restaurant.photos.first.present? %>
                      <%= image_tag restaurant.photos.first.picture.url(:v280x160), :size => "244x144" %>
                    <% else %>
                      <img src="http://www.placehold.it/244x144" class="media-object img-responsive hidden-xs">
                    <% end %>
                  </a>
                  <div class="media-body">
                    <div class="col-sm-12 col-lg-9">
                      <h4 class="media-heading">
                        <%= link_to restaurant.name, restaurant_path(restaurant) %>
                      </h4>
                      <p><%= restaurant.misc %></p>
                      <p>
                        <% unless restaurant.star_format == 0 %>
                          <% restaurant.star_format.times do |s| %>
                            <i class="glyphicon glyphicon-star pink"></i>
                          <% end %>
                        <% else %>
                          Not received any star rank
                        <% end %>  
                        <span style="padding-left:20px"/>
                        <% unless restaurant.price_format == 0 %>
                          <% restaurant.price_format.times do |s| %>
                            <i class="glyphicon glyphicon-usd"></i>
                          <% end %>
                        <% else %>
                          No yet assigned any price rank
                        <% end %>
                      </p>
                      <p><i class="glyphicon glyphicon-tag"></i> <%= restaurant.cuisines_format %></p>
                    </div>
                    <div class="col-sm-12 col-lg-3 right">
                      <h4 class="rmedium">Book Now :</h4>
                      <% id = user_signed_in? ? "check" : "login" %>
                      <button type="button" id="<%= id %>" class="btn btn-primary lblack action">6.00PM</button>
                      <button type="button" id="<%= id %>" class="btn btn-primary lblack action">6.15PM</button>
                      <button type="button" id="<%= id %>" class="btn btn-primary lblack action">6.30PM</button>
                      <button type="button" id="<%= id %>" class="btn btn-primary lblack action">OTHER ITEMS</button>
                    </div>
                  </div>
                </li><!-- News 1 -->
              <% end %>
          
        </ul>

        <div class="navigation">
          <%#= paginate @search_results %>
        </div>

      </div>
    </div>  <!-- /main col left -->      
    <!-- main col right -->
    <div class="col-sm-4">
      <h2 class="rlight">Location :</h2>
      <img src='<%= @image_tag_string %>'>
      <h2 class="rlight">Filter Options :</h2>
      <div class="filter">

        <%= form_tag("/search_with_date_time", method: "get") do %>

          <div class="star">
            <h4 class="rmedium">Star Rating :</h4>
            <% RestaurantTag.where("title LIKE ?", "Star:%").each do |star| %>
              <div>
                <%= check_box_tag 'tags[]', star.id, params["tags"].blank? ? false : params["tags"].collect { |i| i.to_i }.include?(star.id) %>
                <% star.title.slice(5..star.title.length).to_i.times do |s| %>
                  <i class="glyphicon glyphicon-star pink"></i>
                <% end %>
              </div>
            <% end %>
          </div>
          
          <hr/>
          <div class="price">
            <h4 class="rmedium">Price :</h4>
            <% RestaurantTag.where("title LIKE ?", "Price:%").each do |price| %>
              <% if price.title.slice(6..price.title.length).size > 1 && price.title.slice(6..price.title.length).size < 5 %>
                <div>
                  <%= check_box_tag 'tags[]', price.id, params["tags"].blank? ? false : params["tags"].collect { |i| i.to_i }.include?(price.id)  %>
                  <% price.title.slice(6..price.title.length).size.times do |s|  %>
                    <i class="glyphicon glyphicon-usd"></i>
                  <% end %>
                  <% if price.title.slice(6..price.title.length).size == 2 %>
                    (500 baht and under)
                  <% elsif price.title.slice(6..price.title.length).size == 3 %>
                    (501 -1,000 baht)
                  <% elsif price.title.slice(6..price.title.length).size == 4 %>
                    (1,000 baht and over)
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>

          <hr/>
          <div class="credit">
            <h4 class="rmedium">Credit Card :</h4>
             <% RestaurantTag.where("title LIKE ?", "Payment:%").each do |pay| %>
              <div>
                <%= check_box_tag 'tags[]', pay.id, params["tags"].blank? ? false : params["tags"].collect { |i| i.to_i }.include?(pay.id) %>
                <%= h pay.title.slice(8..pay.title.length) -%>
              </div>
            <% end %>
          </div>
          <%= params["tags"] %>

          <input type="hidden" name="filter" value="<%= @search_results.map {|r| r.id} %>">
          <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i></button>
          <%#= submit_tag "Search", :class => 'btn btn-success btn-large' %>

        <% end %>
        
      </div>
    </div>
  </div><!--/row-->
</div><!-- /content -->
<div id="check" class="action"></div>

<script type="text/javascript">
  $( document ).ready(function() {
    $("#check").click();
  });
</script>