<div class="topContent container">
  <div class="row">
    <div class="col-sm-8 col-lg-8">
      <h2 class="rbold">Search Results</h2>
      <h3 class="rlight">We've found <%= @search_results.size %> restaurants for you.</h3>
      <div class="list result">
        <ul class="media-list">

         <% @search_results.each_with_index do |restaurant, index| %>
              
                <li class="media">
                  <a href="<%= restaurant_path(restaurant)%>" class="pull-left">
                    <% if restaurant.photos.first.present? %>
                      <%= image_tag restaurant.photos.first.picture.url(:v280x160), :size => "244x144" %>
                    <% else %>
                      <img src="http://www.placehold.it/244x144" class="media-object img-responsive hidden-xs">
                    <% end %>
                  </a>
                  <div class="media-body">
                    <div class="col-sm-12 col-lg-9">
                      <h4 class="media-heading">
                        <%= link_to restaurant.name, restaurant_path(restaurant) %>
                      </h4>
                      <p><%= restaurant.misc %></p>
                      <p>
                        <% unless restaurant.star_format == 0 %>
                          <% restaurant.star_format.times do |s| %>
                            <i class="glyphicon glyphicon-star pink"></i>
                          <% end %>
                        <% else %>
                          Not received any star rank
                        <% end %>  
                        <span style="padding-left:20px"/>
                        <% unless restaurant.price_format == 0 %>
                          <% restaurant.price_format.times do |s| %>
                            <i class="glyphicon glyphicon-usd"></i>
                          <% end %>
                        <% else %>
                          No yet assigned any price rank
                        <% end %>
                      </p>
                      <p><i class="glyphicon glyphicon-tag"></i> <%= restaurant.cuisines_format %></p>
                    </div>
                    <div class="col-sm-12 col-lg-3 right">
                      <h4 class="rmedium">Book Now :</h4>
                      <% id = user_signed_in? ? "check" : "login" %>
                      <button type="button" id="<%= id %>" class="btn btn-primary lblack action">6.00PM</button>
                      <button type="button" id="<%= id %>" class="btn btn-primary lblack action">6.15PM</button>
                      <button type="button" id="<%= id %>" class="btn btn-primary lblack action">6.30PM</button>
                      <button type="button" id="<%= id %>" class="btn btn-primary lblack action">OTHER ITEMS</button>
                    </div>
                  </div>
                </li><!-- News 1 -->
              <% end %>
          
        </ul>

        <div class="navigation">
          <%#= paginate @search_results %>
        </div>

      </div>
    </div>  <!-- /main col left -->      
    <!-- main col right -->
    <div class="col-sm-4">
      <h2 class="rlight">Location :</h2>
      <img src='<%= @image_tag_string %>'>
      <h2 class="rlight">Filter Options :</h2>
      <div class="filter">
        <form action="test.php" method="post">
          <div class="star">
            <h4 class="rmedium">Star Rating :</h4>
            <div>
              <input type="checkbox" name="star[]" value="value 1">
              <i class="glyphicon glyphicon-star pink"></i>
            </div>
            <div>
              <input type="checkbox" name="star[]" value="value 2">
              <% 2.times do %>
                <i class="glyphicon glyphicon-star pink"></i>
              <% end %>
            </div>
            <div>
              <input type="checkbox" name="star[]" value="value 3">
              <% 3.times do %>
                <i class="glyphicon glyphicon-star pink"></i>
              <% end %>
            </div>
            <div>
              <input type="checkbox" name="star[]" value="value 4">
              <% 4.times do %>
                <i class="glyphicon glyphicon-star pink"></i>
              <% end %>
            </div>
            <div>
              <input type="checkbox" name="star[]" value="value 5">
              <% 5.times do %>
                <i class="glyphicon glyphicon-star pink"></i>
              <% end %>
            </div>
          </div>
          <hr/>
          <div class="price">
            <h4 class="rmedium">Price :</h4>
            <div>
              <input type="checkbox" name="price[]" value="value 1">
              <% 2.times do %>
                <i class="glyphicon glyphicon-usd"></i>
              <% end %>
              (500 baht and under)
            </div>
            <div>
              <input type="checkbox" name="price[]" value="value 2">
              <% 3.times do %>
                <i class="glyphicon glyphicon-usd"></i>
              <% end %>
              (501 -1,000 baht)
            </div>
            <div>
              <input type="checkbox" name="price[]" value="value 3">
              <% 4.times do %>
                <i class="glyphicon glyphicon-usd"></i>
              <% end %> 
              (1,000 baht and over)
            </div>
          </div>
          <hr/>
          <div class="credit">
            <h4 class="rmedium">Credit Card :</h4>
            <div>
              <input type="checkbox" name="credit[]" value="value 1"> American Express
            </div>
            <div>
              <input type="checkbox" name="credit[]" value="value 2"> Credit Card
            </div>
            <div>
              <input type="checkbox" name="credit[]" value="value 3"> Master Card
            </div>
            <div>
              <input type="checkbox" name="credit[]" value="value 4"> Visa
            </div>
          </div>
        </form>
      </div>
    </div>
  </div><!--/row-->
</div><!-- /content -->
<div id="check" class="action"></div>

<script type="text/javascript">
  $( document ).ready(function() {
    $("#check").click();
  });
</script>