<h1>Listing reservations</h1>

<% @cal == false %>
<% if owner_signed_in? and @cal == true %>
  <div id="reservations">
    <h2 id="month">
      <%= link_to "<", date: @date.prev_month %>
      <%= @date.strftime("%B %Y") %>
      <%= link_to ">", date: @date.next_month %>
    </h2>
    <%= calendar @date do |date| %>
      <%= date.day %>
      <% if @reservations_by_date[date] %>
        <ul>
          <% @reservations_by_date[date].each do |reservation| %>
            <li><%= link_to "#{mtime(reservation.start_time)}-#{mtime(reservation.end_time)} - #{reservation.party_size}", reservation %></li> 
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
<% end %>

<p />

<% unless @reservations.blank? %>
<table  class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>User</th>
    <th>Restaurant</th>
    <th>Date</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Party size</th>
    <!-- <th>Active</th> -->
    <!-- <th>Edit Active</th> -->
    <th>No Show</th>
    <th>Party Arrived</th>
    <th>Remove</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

<% @reservations.each do |reservation| %>
  <tr>
    <td>
      <% if reservation.user %>
          <%= reservation.user.username  %>
      <% else %>
        <%= "#{reservation.name} /" %> 
        <%= "#{reservation.phone} /" %> 
        <%= reservation.email %>
      <% end %>
    </td>
    <td><%= reservation.restaurant.name %></td>
    <td><%= reservation.date %></td>
    <td><%= mtime(reservation.start_time) %></td>
    <td><%= mtime(reservation.end_time) %></td>
    <td><%= reservation.party_size %></td>
    <!-- <td><%= reservation.active %></td> -->
    <td>
      <%= link_to "#{bool_to_activity(reservation.no_show)}", toggle_reservation_url(reservation, :arg => "no_show"), :method => :put, :class => "btn"%>
    </td>
    <td>
      <%= link_to "#{bool_to_activity(reservation.arrived)}", toggle_reservation_url(reservation, :arg => "arrived"), :method => :put, :class => "btn"%>
    </td>
    <td>
      <%= link_to "#{bool_to_activity(reservation.active)}", toggle_reservation_url(reservation, :arg => "active"), :method => :put, :class => "btn"%>
    </td>
    <td>
        <%= link_to 'Show', reservation %><br />
        <%= link_to 'View Reward', reservation.reward %>
    </td>
    <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
    <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<% else %>
  <%= "No reservations in your restaurant" if owner_signed_in? %>
<% end %>

<br />

<%= link_to 'New Reservation', new_reservation_path if owner_signed_in? or user_signed_in? %>
