<div class="topContent container">
  <div class="row">
    
    <% if owner_signed_in? %>
      <%= render :partial => "/shared/setting" %>
      <%= render :partial => "/shared/setting_left_tab", :locals => {:active_tab => 'reservation' }%>

    <div class="col-sm-9 col-lg-9">
      
    <% end %> 

      <div class="storyContent setting">

        <div class="header">
          <h3 class="rmedium">Reservation</h3>
        </div>
        <div class="content"> 

          <p>
            <b>User:</b>
            <% if @reservation.user %>
              <%= @reservation.user.username  %>
            <% else %>
              <%= "#{@reservation.name} /" %> 
              <%= "#{@reservation.phone} /" %> 
              <%= @reservation.email %>
            <% end %>
          </p>

          <p>
            <b>Restaurant:</b>
            <%= @reservation.restaurant.name %>
          </p>

          <p>
            <b>Date:</b>
            <%= @reservation.date_format %>
          </p>

          <p>
            <b>Start time:</b>
            <%= @reservation.start_time %>
          </p>

          <p>
            <b>End time:</b>
            <%= @reservation.end_time %>
          </p>

          <p>
            <b>Party size:</b>
            <%= @reservation.party_size %>
          </p>

          <p>
            <b>Table:</b>
            <%= @reservation.table %>
          </p>

          <p>
            <b>Active:</b>
            <%= @reservation.active %>
          </p>

          <p>
            <b>Special Request:</b>
            <%= @reservation.special_request %>
          </p>

          <p>
            <b>Channel:</b>
            <%= @reservation.channel %>
          </p>

          <%= link_to 'Edit', edit_reservation_path(@reservation) %> |
          <%= link_to 'Back', reservations_path %>

       </div>

      <% if owner_signed_in? %>
      </div>
      <% end %> 

    </div>

  </div>
</div>          