<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @reservation.user.username %>
</p>

<p>
  <b>Restaurant:</b>
  <%= @reservation.restaurant.name %>
</p>

<p>
  <b>Date:</b>
  <%= @reservation.date %>
</p>

<p>
  <b>Start time:</b>
  <%= mtime(@reservation.start_time) %>
</p>

<p>
  <b>End time:</b>
  <%= mtime(@reservation.end_time) %>
</p>

<p>
  <b>Party size:</b>
  <%= @reservation.party_size %>
</p>

<p>
  <b>Active:</b>
  <%= @reservation.active %>
</p>


<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
