<div class="table-responsive">
  <table class="table table-striped reservation-table">
    <thead>
      <tr>
        <th>Time</th>
        <th>Name</th>
        <th>Cover</th>
        <th>Status</th>
        <th>Flag</th>
        <th>Quality</th>
        <th>Note</th>
        <th>Table</th>
        <th>Source</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <% reservations.each do |reservation| %>
        <tr>
          <td><%= reservation.start_time_format %></td>
          <td>
            <% if reservation.user %>
              <%= truncate(reservation.user.username, :length => 15) %>
            <% else %>
              <%= truncate(reservation.name, :length => 15)  %> 
            <% end %>
          </td>
          <td><%= reservation.party_size %></td>
          <td>
<!--            <button class="btn btn-reservation btn-xs">Show</button>
            <button class="btn btn-reservation btn-xs">No Show</button>-->
            <%= reservation.status %>
          </td>
          <td>
            <%= vip_or_not(reservation.try(:user), reservation.try(:name), reservation.try(:phone), reservation.restaurant) %>
          </td>
          <td><%= reservation.quality %></td>
          <td><% if reservation.special_request != nil && reservation.special_request != '' then %><a href="#"><i class="fa fa-info"></i></a><% end %></td>
          <td><%= reservation.table %></td>
          <td><%= ChannelType[reservation.channel] %></td>
          <td>
            <%= link_to '<i class="fa fa-search" id="viewReservation"></i>'.html_safe, reservation, remote: true %>
            <%= link_to '<i class="fa fa-edit" id="viewReservation"></i>'.html_safe, edit_reservation_path(reservation), remote: true %>
            <%#= link_to '<i class="fa fa-search"></i>'.html_safe, reservation_owner_dashboards_path(reservation.id) %>
            <%#= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_reservation_path(reservation) %>
            <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, reservation, method: :delete, data: { confirm: 'Are you sure?',  header: "Delete Reservation" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>