<div class="tab-pane fade" id="myrestaurant">
  <ul class="media-list">
    <li class="media">
      <div class="media-body">
        <div class="col-sm-12 col-lg-8">

          <% @restaurant = current_owner.restaurant.present? ? current_owner.restaurant : Restaurant.new  %>
          <%= simple_form_for( @restaurant, html: { class: "form-horizontal"}) do |f| %>

            <%= f.input :name, label: "Name: <i style='font-weight:normal;'>#{@restaurant.name}</i>".html_safe %>
            <%= f.input :misc, label: "Misc", as: :text, input_html: { rows: "4", class: "text_area_for_misc"} %>
            <%= f.input :th_misc, label: "Misc (Th)", as: :text, input_html: { rows: "4", class: "text_area_for_misc"} %>
            <%= f.input :address, label: "Address", as: :text, input_html: { rows: "4", class: "text_area_for_misc"} %>
            <%= f.input :th_address, label: "Address (Th)", as: :text, input_html: { rows: "4", class: "text_area_for_misc"} %>
            <%= f.input :phone, label: "Phone: <i style='font-weight:normal;'>#{@restaurant.phone}</i>".html_safe  %>
            
            <div class="row">
              <label>GPS Coordinates</label><br>
              <div class="col-sm-12 col-lg-6" style="padding-right: 15px; padding-left: 0px;">
                <%= f.input :lat, label: false %>
              </div>
              <div class="col-sm-12 col-lg-6" style="padding-right: 0px;">
                <%= f.input :lng, label: false %>
              </div>
            </div>

            <%= f.input :largest_table, label: "Largest Table"%>

            <div class="row">
              <div class="col-sm-4 col-lg-4" style="padding-right: 15px; padding-left: 0px;">
                <%#= f.input :days_in_advance, collection: [:"1", :"2", :"3", :"4", :"5", :"6", :"6", :"7", :"8"], priority: [ :"30" ], include_blank: false, label: "Day Out Allow Bookings" %>
                <%= f.input :days_in_advance, collection: Array.new(100){ |i| (i+=1).to_s }, priority: [ :"30" ], include_blank: false, label: "Day Out Allow Bookings" %>
              </div>
              <div class="col-sm-4 col-lg-4" style="padding-right: 15px; ">
                <%= f.input :min_booking_time, collection: [:"15", :"30", :"45", :"60", :"90", :"120", :"180", :"240", :"360", :"720", :"1440", :"2880", :"4320"], priority: [ :"3" ], include_blank: false, label: "Minutes in Advance Bookings Close" %>
              </div>
              <div class="col-sm-4 col-lg-4" style="padding-right: 0px;">
                <%= f.input :res_duration, collection: [:"15", :"30", :"45", :"60", :"75", :"90", :"120", :"180", :"240", :"300", :"360"], priority: [ :"3" ], include_blank: false, label: "Duration of each booking" %>
              </div>
            </div>

            <%= f.input :est_duration,             label: "Average Turnaround Time" %>
            <%= f.input :est_duration_confidence,  label: "Confidence in Average Turnaround Time (%)" %>
            <%#= f.input :max_turn_time,            label: "Max Turnaround Time" %>
            <%#= f.input :res_duration, collection: [:"3", :"4", :"5", :"6"], priority: [ :"3" ], include_blank: false, label: "Max Turnaround Time of each booking" %>

            <%= f.input :active,             label: "Active? (Will it displayed on site)" %>

            <div class="form-group">
              <div class="col-sm-12 col-lg-4">
                <%= f.button :submit, "UPDATE", class: "btn btn-table" %>
              </div>
            </div>

          <% end %>

        </div>
      </div>
    </li>
  </ul>
</div>