<div class="tab-pane fade" id="tag">
  <ul class="media-list">
    <li class="media">
      <div class="media-body">
      <div class="col-sm-12 col-lg-12">


        <% @restaurant = current_owner.restaurant %>
        <%= simple_form_for( @restaurant, html: { class: "form-horizontal"}) do |f| %>

          <div class="form-group">
            <label>Cuisine</label>
            <div class="row">
              <% cu_tags = RestaurantTag.where('title LIKE ?', 'Cuisine%').ordered %>
              <% cu_num = cu_tags.count %>
              <div class="col-sm-12">
                <% cu_offset = 0 %>
                <% cu_limit = cu_num/4 %>
                <% 4.times do |i| %>
                  <!-- refactor -->
                  <% ((cu_num - cu_offset) % 2) != 0 ? (cu_limit = cu_num/4 + 1) : (cu_limit = cu_num/4)  %>
                  <% (i+1)%2 == 0 && (((cu_num - cu_offset) % 2) == 0 && ((cu_num - cu_offset) % 4 == 0)) ? cu_limit = cu_num/4 + 1 : ""  %>
                  <% i == 0 && (((cu_num - cu_offset) % 2) == 0 && ((cu_num - cu_offset) % 4 != 0)) ? cu_limit = cu_num/4 + 1 : ""  %>
                  <!-- if 4/8/12/16 -->
                  <% cu_limit = cu_tags.count/4 if cu_tags.count%4 == 0 %>

                  <%= content_tag(:div, :class => "col-sm-3") do %>
                    <%= f.association :restaurant_tags, :as => :check_boxes, :collection => cu_tags.offset(cu_offset).limit(cu_limit), :label => false, :label_method => lambda { |tag| tag.title_format } %>
                  <% end %>
                  <% cu_offset += cu_limit %>
                <% end %>
              </div>
            </div>
          </div>

          <hr>

          <div class="form-group">
            <div class="row">
              <!-- Price -->
              <div class="col-sm-12 col-lg-4">
                  <label>Price</label>
                  <select class="select optional form-control" id="restaurant_restaurant_tag_ids" name="restaurant[restaurant_tag_ids][]">
                    <option value=""></option>
                    <% RestaurantTag.where('title LIKE ?', 'Price%').ordered.each do |tag| %>
                        <option value="<%= tag.id %>" <%= "selected='selected'" if tag.id == @restaurant.price_format(1) %>>
                          <% pr = "" %>
                          <% tag.title.slice(6..tag.title.length).to_i.times {|i| pr+="$" } %>
                          <%= pr %>
                        </option>
                    <% end %>
                  </select>                     
              </div>
              <!-- Rating -->
              <div class="col-sm-12 col-lg-4">
                 <label>Rating</label>
                 <select class="select optional form-control" id="restaurant_restaurant_tag_ids" name="restaurant[restaurant_tag_ids][]">
                    <option value=""></option>
                    <% RestaurantTag.where('title LIKE ?', 'Star%').ordered.each do |tag| %>
                        <option value="<%= tag.id %>" <%= "selected='selected'" if tag.id == @restaurant.get_star_id %>>
                          <%= tag.title_format %>
                        </option>
                    <% end %>
                  </select> 
              </div>
              <!-- Parking -->
              <div class="col-sm-12 col-lg-4">
                  <label>Parking</label>
                  <select class="select optional form-control" id="restaurant_restaurant_tag_ids" name="restaurant[restaurant_tag_ids][]">
                    <option value=""></option>
                    <% RestaurantTag.where('title LIKE ?', 'Parking%').ordered.each do |tag| %>
                        <option value="<%= tag.id %>" <%= "selected='selected'" if tag.id == @restaurant.get_parking_id %>>
                          <%= tag.title_format %>
                        </option>
                    <% end %>
                  </select> 
              </div>
            </div>
          </div> 
          
          <hr>

           <!-- Drinking -->
          <div class="form-group">
            <label>Drinking</label>
            <div class="row">
              <% dr_tags = RestaurantTag.where('title LIKE ?', 'Drinking%').ordered %>
              <% dr_num = dr_tags.count %>
              <div class="col-sm-12">
                <% dr_offset = 0 %>
                <% dr_limit = dr_num/4 %>
                <% 4.times do |i| %>
                  <!-- refactor -->
                  <% ((dr_num - dr_offset) % 2) != 0 ? (dr_limit = dr_num/4 + 1) : (dr_limit = dr_num/4)  %>
                  <% (i+1)%2 == 0 && (((dr_num - dr_offset) % 2) == 0 && ((dr_num - dr_offset) % 4 == 0)) ? dr_limit = dr_num/4 + 1 : ""  %>
                  <% i == 0 && (((dr_num - dr_offset) % 2) == 0 && ((dr_num - dr_offset) % 4 != 0)) ? dr_limit = dr_num/4 + 1 : ""  %>
                  <!-- if 4/8/12/16 -->
                  <% dr_limit = dr_tags.count/4 if dr_tags.count%4 == 0 %>

                  <%= content_tag(:div, :class => "col-sm-3") do %>
                    <%= f.association :restaurant_tags, :as => :check_boxes, :collection => dr_tags.offset(dr_offset).limit(dr_limit), :label => false, :label_method => lambda { |tag| tag.title_format } %>
                  <% end %>
                  <% dr_offset += dr_limit %>
                <% end %>
                  
              </div>
            </div>
          </div><hr>
          <!-- Meals -->
          <div class="form-group">
            <label>Meals</label>
            <div class="row">
              <% me_tags = RestaurantTag.where('title LIKE ?', 'Meals%').ordered %>
              <% me_num = me_tags.count %>
              <div class="col-sm-12">
                <% me_offset = 0 %>
                <% me_limit = me_num/4 %>
                <% 4.times do |i| %>
                  <!-- refactor -->
                  <% ((me_num - me_offset) % 2) != 0 ? (me_limit = me_num/4 + 1) : (me_limit = me_num/4)  %>
                  <% (i+1)%2 == 0 && (((me_num - me_offset) % 2) == 0 && ((me_num - me_offset) % 4 == 0)) ? me_limit = me_num/4 + 1 : ""  %>
                  <% i == 0 && (((me_num - me_offset) % 2) == 0 && ((me_num - me_offset) % 4 != 0)) ? me_limit = me_num/4 + 1 : ""  %>
                  <!-- if 4/8/12/16 -->
                  <% me_limit = me_tags.count/4 if me_tags.count%4 == 0 %>

                  <%= content_tag(:div, :class => "col-sm-3") do %>
                    <%= f.association :restaurant_tags, :as => :check_boxes, :collection => me_tags.offset(me_offset).limit(me_limit), :label => false, :label_method => lambda { |tag| tag.title_format } %>
                  <% end %>
                  <% me_offset += me_limit %>
                <% end %>
              </div>
            </div>
          </div><hr>
          <!-- Payment -->
          <div class="form-group">
            <label>Payment</label>
            <div class="row">
              <% pay_tags = RestaurantTag.where('title LIKE ?', 'Payment%').ordered %>
              <% pay_num = pay_tags.count %>
              <div class="col-sm-12">
                <% pay_offset = 0 %>
                <% pay_limit = pay_num/4 %>
                <% 4.times do |i| %>
                  <!-- refactor -->
                  <% ((pay_num - pay_offset) % 2) != 0 ? (pay_limit = pay_num/4 + 1) : (pay_limit = pay_num/4)  %>
                  <% (i+1)%2 == 0 && (((pay_num - pay_offset) % 2) == 0 && ((pay_num - pay_offset) % 4 == 0)) ? pay_limit = pay_num/4 + 1 : ""  %>
                  <% i == 0 && (((pay_num - pay_offset) % 2) == 0 && ((pay_num - pay_offset) % 4 != 0)) ? pay_limit = pay_num/4 + 1 : ""  %>
                  <!-- if 4/8/12/16 -->
                  <% pay_limit = pay_tags.count/4 if pay_tags.count%4 == 0 %>

                  <%= content_tag(:div, :class => "col-sm-3") do %>
                    <%= f.association :restaurant_tags, :as => :check_boxes, :collection => pay_tags.offset(pay_offset).limit(pay_limit), :label => false, :label_method => lambda { |tag| tag.title_format } %>
                  <% end %>
                  <% pay_offset += pay_limit %>
                <% end %>
              </div>
            </div>
          </div>
          <hr>
          <!-- Location. -->
          <div class="form-group">
            <label>Location</label>
            <div class="row">
              <% loc_tags = RestaurantTag.where('title LIKE ?', 'Location%').ordered %>
              <% loc_num = loc_tags.count %>
              <div class="col-sm-12">
                <% loc_offset = 0 %>
                <% loc_limit = loc_num/4 %>
                <% 4.times do |i| %>
                  <!-- refactor -->
                  <% ((loc_num - loc_offset) % 2) != 0 ? (loc_limit = loc_num/4 + 1) : (loc_limit = loc_num/4)  %>
                  <% (i+1)%2 == 0 && (((loc_num - loc_offset) % 2) == 0 && ((loc_num - loc_offset) % 4 == 0)) ? loc_limit = loc_num/4 + 1 : ""  %>
                  <% i == 0 && (((loc_num - loc_offset) % 2) == 0 && ((loc_num - loc_offset) % 4 != 0)) ? loc_limit = loc_num/4 + 1 : ""  %>
                  <!-- if 4/8/12/16 -->
                  <% loc_limit = loc_tags.count/4 if loc_tags.count%4 == 0 %>

                  <%= content_tag(:div, :class => "col-sm-3") do %>
                    <%= f.association :restaurant_tags, :as => :check_boxes, :collection => loc_tags.offset(loc_offset).limit(loc_limit), :label => false, :label_method => lambda { |tag| tag.title_format } %>
                  <% end %>
                  <% loc_offset += loc_limit %>
                <% end %>

              </div>
            </div>
          </div>
          <hr>
          <!-- Misc. -->
          <div class="form-group">
            <label>Misc.</label>
            <div class="row">
              <div class="col-sm-12">
                <%= f.association :restaurant_tags, :as => :check_boxes, collection: RestaurantTag.where('title LIKE ?', 'Misc%'), label: false, :label_method => lambda { |tag| tag.title_format } %>
               <!--  <div class="col-sm-3">
                  <label class="checkbox-inline"><input type="checkbox" value="option1"> Casual Dress</label>
                </div>
                <div class="col-sm-3">
                  <label class="checkbox-inline"><input type="checkbox" value="option2"> Child Friendly</label>
                </div>
                <div class="col-sm-3">
                  <label class="checkbox-inline"><input type="checkbox" value="option3"> Formal Dress</label>
                </div>
                <div class="col-sm-3">
                  <label class="checkbox-inline"><input type="checkbox" value="option4"> Large Group</label>
                </div> -->
              </div>
            </div>
          </div>
          <hr>

          


         <div class="form-group">
            <div class="col-sm-12 col-lg-4">
              <%= f.button :submit, "UPDATE", class: "btn btn-table" %>
            </div>
          </div>

        <% end %>

      </div>
      </div>
    </li>
  </ul>
</div>