<!--  @restaurant.photos.build unless @restaurant.photos.blank? %> -->
<%= simple_form_for([@restaurant], html: { class: "form-horizontal"}) do |f| %>
  <div class="col-sm-12 col-lg-12">

  <%= f.input :name, label: "Name: <i>#{@restaurant.name}</i>".html_safe %>

  <div class="row" style="margin-left: -15px;">
    <div class="col-sm-4 col-lg-4">
    <%= f.input :days_in_advance, label: "Days out allow bookings" %>
    </div>
    <div class="col-sm-4 col-lg-4">
    <%= f.input :min_booking_time, collection: [:"0", :"15", :"30", :"45", :"60", :"90", :"120", :"180", :"1440"], priority: [ :"15" ], include_blank: false ,label: "Minutes in advance bookings close", :input_html => { :class => "caret" } %>
    <%#= f.input :min_booking_time, label: "Minutes in advance bookings close" %>

<!--     <div class="form-group integer required restaurant_min_booking_time">
      <label class="integer required" for="restaurant_min_booking_time">
        <abbr title="required">*</abbr> 
        Minutes in advance bookings close
      </label>
      <div class="input-append btn-group">
        <input class="numeric integer required form-control form-control" id="restaurant_min_booking_time" max="720" min="15" name="restaurant[min_booking_time]" required="required" step="1" type="hidden" value="60">

        <div id="currectVal2" class="inputSelection rregular pull-left"></div>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" id="selection2">
          <li><a title="0"> 0 minutes</a></li>
          <li><a title="15"> 15 minutes</a></li>
          <li><a title="30"> 30 minutes</a></li>
          <li><a title="45"> 45 minutes</a></li>
          <li><a title="60"> 1 hour</a></li>
          <li><a title="90"> 1.5 hours</a></li>
          <li><a title="120"> 2 hours </a></li>
          <li><a title="180"> 3 hours </a></li>
          <li><a title="1440"> 1 day </a></li>
        </ul>
        <script type="text/javascript">
          $('#selection2 > li a').click(function(){
            var selectVal = $(this).attr("title");
            $("#restaurant_min_booking_time").attr("value",selectVal);
            $("#currectVal2").html($(this).html());
          });
        </script>
      </div>
    </div> -->


    </div>
    <div class="col-sm-4 col-lg-4">
    <%= f.input :res_duration, collection: [:"30", :"45", :"60", :"75", :"90", :"105"], priority: [ :"30" ], include_blank: false, label: "Duration of each booking" %>
    </div>
  </div>

  <div class="row" style="margin-left: -15px;">
    <div class="col-sm-4 col-lg-4">
    <%= f.input :est_duration, collection: [:"0", :"15", :"30", :"45", :"60", :"90", :"120", :"180"], include_blank: false,  label: "est_duration, min" %>
    </div>
    <div class="col-sm-4 col-lg-4">
    <%= f.input :est_duration_confidence, collection: Array.new(21){ |i| (i*5).to_s }, include_blank: false ,label: "est_duration_confidence, %" %>
    </div>
    <div class="col-sm-4 col-lg-4">
    </div>
  </div>


  <%#= f.input :price, label: "Price" %>
  <%= f.input :largest_table, label: "Largest Table"%>
  <%= f.input :lat, label: "Latitude" %>
  <%= f.input :lng, label: "Longitude" %>
  
  <%= f.input :address, label: "Address", as: :text, input_html: { rows: "2", class: "text_area_for_misc"} %>
  <%= f.input :th_address, label: "Address (Thai version)", as: :text, input_html: { rows: "2", class: "text_area_for_misc"} %>
  <%= f.input :phone, label: "Phone" %>
  <%= f.input :website, label: "Website" %>

  <%= f.input :misc, label: "Misc", as: :text, input_html: { rows: "5", class: "text_area_for_misc"} %>

  <hr/>
  <h3 class="rmedium">Restaurant Tags</h3>
  <div class="row" style="margin-left: -15px;">
    <div class="col-sm-4 col-lg-4">
    <h4 class="rmedium" style="font-weight: bold; margin-left:40px;">Location</h4>
    <%= f.association :restaurant_tags, :as => :check_boxes, :collection => RestaurantTag.where('title LIKE ?', 'Location%'), :label => "", :item_wrapper_class => 'checkbox_container' %>
    </div>
    <div class="col-sm-4 col-lg-4">
    <h4 class="rmedium" style="font-weight: bold; margin-left:40px;">Cuisines</h4>
    <%= f.association :restaurant_tags, :as => :check_boxes, :collection => RestaurantTag.where('title LIKE ?', 'Cuisine%'), :label => "", :item_wrapper_class => 'checkbox_container' %>
    </div>
    <div class="col-sm-4 col-lg-4">
    <h4 class="rmedium" style="font-weight: bold; margin-left:40px;">Other</h4>
    <%= f.association :restaurant_tags, :as => :check_boxes, :collection => RestaurantTag.where('title NOT LIKE ? AND title NOT LIKE ? AND title NOT LIKE ? AND title NOT LIKE ? AND title NOT LIKE ?', 'Cuisine%', 'Location%', 'Price%', 'Star%', 'Parking%'), :label => "", :item_wrapper_class => 'checkbox_container' %>
    </div>
  </div>


  <br/>
  <div class="row" style="margin-left: -15px;">

    <div class="col-sm-12">
    <%#= f.association :restaurant_tags, :as => :select, collection: RestaurantTag.where('title LIKE ?', 'Price%'), include_blank: false , label: "Price" %>
    <%#= f.association :restaurant_tags, :as => :select, collection: RestaurantTag.where('title LIKE ?', 'Star%'), include_blank: false , label: "Stars" %>
    <%#= f.association :restaurant_tags, :as => :select, collection: RestaurantTag.where('title LIKE ?', 'Parking%'), include_blank: false , label: "Parking" %>

        <div class="col-sm-4">
              Price
              <div class="input-append btn-group">
              <input id="restaurant_restaurant_tag_ids" name="restaurant[restaurant_tag_ids][]" type="hidden"  value="<%= @restaurant.price_format(1) %>">
              <div id="currectVal4" class="inputSelection rregular pull-left"><%= @restaurant.price_format_with_dollar %></div>
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" id="selection4">
                <% RestaurantTag.where('title LIKE ?', 'Price%').each do |tag| %>
                  <%= content_tag :li do -%>
                    <a title="<%= tag.id %>">
                      <% tag.title.slice(6..tag.title.length).to_i.times do %>
                        $
                      <% end %>
                    </a>
                  <% end %>
                <% end %>
              </ul>
              <script type="text/javascript">
                $('#selection4 > li a').click(function(){
                  var selectVal = $(this).attr("title");
                  $("#price").attr("value",selectVal);
                  $("#restaurant_restaurant_tag_ids").attr("value",selectVal);
                  $("#currectVal4").html($(this).html());
                });
              </script>
            </div>
        </div>


        <div class="col-sm-4">
            Stars
            <div class="input-append btn-group">
            <div id="prestars">
              <input id="restaurant_restaurant_tag_ids" name="restaurant[restaurant_tag_ids][]" type="hidden" value="<%= @restaurant.get_star_id %>">
            </div>  
            <div id="currectVal5" class="inputSelection rregular pull-left">
              <% if @restaurant.get_star_id.present?%>
                    <% @restaurant.star_format.times do |s| %>
                      <i class="glyphicon glyphicon-star pink"></i>
                    <% end %>
                    <% if @restaurant.star_format_f - @restaurant.star_format > 0  %>
                      <i class="glyphicon glyphicon-star pink" style="width:4px;"></i>
                      <i style="position: relative; display: inline-block; background: white; width: 10px; height: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <% end %>
              <% end %>
            </div>
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" id="selection5">
              <% RestaurantTag.where('title LIKE ?', 'Star%').each do |tag| %>
                <%= content_tag :li do -%>
                  <a title="<%= tag.id %>">
                    <% ttf = tag.title.slice(5..tag.title.length).to_f  %>
                    <% tti = tag.title.slice(5..tag.title.length).to_i  %>
                    <% tag.title.slice(5..tag.title.length).to_i.times do |t| %>
                      <i class="glyphicon glyphicon-star pink"></i>   
                    <% end %>
                    <% if ttf - tti > 0  %>
                      <i class="glyphicon glyphicon-star pink" style="width:3px;"></i>
                      <i style="position: relative; display: inline-block; background:white; width: 10px; height: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <% end %>
                  </a>
                <% end %>
              <% end %>
            </ul>
            <script type="text/javascript">
              $('#selection5 > li a').click(function(){
                var selectVal = $(this).attr("title");
                $("#star").attr("value",selectVal);
                $("#prestars #restaurant_restaurant_tag_ids").attr("value",selectVal);
                $("#currectVal5").html($(this).html());
              });
            </script>
          </div>
        </div>



        <div class="col-sm-4">
                Parking
                <div class="input-append btn-group">
                <div id="preparking">
                  <input id="restaurant_restaurant_tag_ids" name="restaurant[restaurant_tag_ids][]" type="hidden" value="<%= @restaurant.get_parking_id %>">
                </div>
                <div id="currectVal6" class="inputSelection rregular pull-left"><%= @restaurant.parking_format %></div>
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" id="selection6">
                  <%  RestaurantTag.where('title LIKE ?', 'Parking%').each do |tag| %>
                    <%= content_tag :li do -%>
                      <a title="<%= tag.id %>"><%= tag.title.slice(8..tag.title.length) %></a>
                    <% end %>
                  <% end %>
                </ul>
                <script type="text/javascript">
                  $('#selection6 > li a').click(function(){
                    var selectVal = $(this).attr("title");
                    $("#parking").attr("value",selectVal);
                    $("#preparking #restaurant_restaurant_tag_ids").attr("value",selectVal);
                    $("#currectVal6").html($(this).html());
                  });
                </script>
              </div>
              </div>
          </div>

<!--     <div class="col-sm-4 col-lg-4">
      <%#= f.input :restaurant_tags, :as => :select, collection: RestaurantTag.where('title LIKE ?', 'Price%'), include_blank: false , label: "Price" %>
    </div>
    <div class="col-sm-4 col-lg-4">
      <%#= f.input :restaurant_tags, :as => :select, collection: RestaurantTag.where('title LIKE ?', 'Star%'), include_blank: false , label: "Stars" %>
    </div>
    <div class="col-sm-4 col-lg-4">
      <%#= f.input :restaurant_tags, :as => :select, collection: RestaurantTag.where('title LIKE ?', 'Parking%'), include_blank: false , label: "Parking" %>
    </div> -->
  </div>

  <!-- item_wrapper_class => 'checkbox_container'  -->


  <hr/>
  <!-- TODO: refactor -->
  <h3 class="rmedium">Schedule</h3>
  <div class="row" style="margin-left: -15px;">
    <div class="col-sm-3 col-lg-3">
      <%#= f.input :mon, collection: @restaurant.inventory_template_groups %>
        Monday<br>
        <div class="input-append btn-group">
        <input id="restaurant_mon" name="restaurant[mon]" type="hidden" value="<%= @restaurant.mon.present? && @restaurant.mon != 0  ? @restaurant.inventory_template_groups.find_by_id(@restaurant.mon).id : "" %>">
        <div id="currectVal7" class="inputSelection rregular pull-left"><%= @restaurant.mon.present?  && @restaurant.mon != 0 ? @restaurant.inventory_template_groups.find(@restaurant.mon).name : "" %></div>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" id="selection7">
          <li><a title="0">&nbsp;</a></li>
          <% @restaurant.inventory_template_groups.each do |itg| %>
            <%= content_tag :li do -%>
              <a title="<%= itg.id %>"><%= itg.name %></a>
            <% end %>
          <% end %>
        </ul>
        <script type="text/javascript">
          $('#selection7 > li a').click(function(){
            var selectVal = $(this).attr("title");
            $("#monday").attr("value",selectVal);
            $("#restaurant_mon").attr("value",selectVal);
            $("#currectVal7").html($(this).html());
          });
        </script>
      </div>

   
    </div>
    <div class="col-sm-3 col-lg-3">
    <%#= f.input :tue, collection: @restaurant.inventory_template_groups %>
          Tuesday<br>
          <div class="input-append btn-group">
          <input id="restaurant_tue" name="restaurant[tue]" type="hidden" value="<%= @restaurant.tue.present? && @restaurant.tue != 0  ? @restaurant.inventory_template_groups.find_by_id(@restaurant.tue).id : "" %>">
          <div id="currectVal8" class="inputSelection rregular pull-left"><%= @restaurant.tue.present?  && @restaurant.tue != 0 ? @restaurant.inventory_template_groups.find(@restaurant.tue).name : "" %></div>
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" id="selection8">
            <li><a title="0">&nbsp;</a></li>
            <% @restaurant.inventory_template_groups.each do |itg| %>
              <%= content_tag :li do -%>
                <a title="<%= itg.id %>"><%= itg.name %></a>
              <% end %>
            <% end %>
          </ul>
          <script type="text/javascript">
            $('#selection8 > li a').click(function(){
              var selectVal = $(this).attr("title");
              $("#tueday").attr("value",selectVal);
              $("#restaurant_tue").attr("value",selectVal);
              $("#currectVal8").html($(this).html());
            });
          </script>
        </div>


    </div>
    <div class="col-sm-3 col-lg-3">
    <%#= f.input :wed, collection: @restaurant.inventory_template_groups %>
          Wednesday<br>
          <div class="input-append btn-group">
          <input id="restaurant_wed" name="restaurant[wed]" type="hidden" value="<%= @restaurant.wed.present? && @restaurant.wed != 0  ? @restaurant.inventory_template_groups.find_by_id(@restaurant.wed).id : "" %>">
          <div id="currectVal9" class="inputSelection rregular pull-left"><%= @restaurant.wed.present? && @restaurant.wed != 0  ? @restaurant.inventory_template_groups.find_by_id(@restaurant.wed).name : "" %></div>
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" id="selection9">
            <li><a title="0">&nbsp;</a></li>
            <% @restaurant.inventory_template_groups.each do |itg| %>
              <%= content_tag :li do -%>
                <a title="<%= itg.id %>"><%= itg.name %></a>
              <% end %>
            <% end %>
          </ul>
          <script type="text/javascript">
            $('#selection9 > li a').click(function(){
              var selectVal = $(this).attr("title");
              $("#wednesday").attr("value",selectVal);
              $("#restaurant_wed").attr("value",selectVal);
              $("#currectVal9").html($(this).html());
            });
          </script>
        </div>


    </div>
    <div class="col-sm-3 col-lg-3">
    <%#= f.input :thu, collection: @restaurant.inventory_template_groups %>
          Thursday<br>
          <div class="input-append btn-group">
          <input id="restaurant_thu" name="restaurant[thu]" type="hidden" value="<%= @restaurant.thu.present? && @restaurant.thu != 0  ? @restaurant.inventory_template_groups.find_by_id(@restaurant.thu).id : "" %>">
          <div id="currectVal10" class="inputSelection rregular pull-left"><%= @restaurant.thu.present? && @restaurant.thu != 0  ? @restaurant.inventory_template_groups.find_by_id(@restaurant.thu).name : "" %></div>
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" id="selection10">
            <li><a title="0">&nbsp;</a></li>
            <% @restaurant.inventory_template_groups.each do |itg| %>
              <%= content_tag :li do -%>
                <a title="<%= itg.id %>"><%= itg.name %></a>
              <% end %>
            <% end %>
          </ul>
          <script type="text/javascript">
            $('#selection10 > li a').click(function(){
              var selectVal = $(this).attr("title");
              $("#thursday").attr("value",selectVal);
              $("#restaurant_thu").attr("value",selectVal);
              $("#currectVal10").html($(this).html());
            });
          </script>
        </div>


    </div>
  </div>
  <div class="row" style="margin-left: -15px;">
    <div class="col-sm-3 col-lg-3">
    <%#= f.input :fri, collection: @restaurant.inventory_template_groups %>
        Friday<br>
        <div class="input-append btn-group">
        <input id="restaurant_fri" name="restaurant[fri]" type="hidden" value="<%= @restaurant.fri.present? && @restaurant.fri != 0  ? @restaurant.inventory_template_groups.find_by_id(@restaurant.fri).id : "" %>">
        <div id="currectVal11" class="inputSelection rregular pull-left"><%= @restaurant.fri.present? && @restaurant.fri != 0  ? @restaurant.inventory_template_groups.find_by_id(@restaurant.fri).name : "" %></div>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" id="selection11">
          <li><a title="0">&nbsp;</a></li>
          <% @restaurant.inventory_template_groups.each do |itg| %>
            <%= content_tag :li do -%>
              <a title="<%= itg.id %>"><%= itg.name %></a>
            <% end %>
          <% end %>
        </ul>
        <script type="text/javascript">
          $('#selection11 > li a').click(function(){
            var selectVal = $(this).attr("title");
            $("#friday").attr("value",selectVal);
            $("#restaurant_fri").attr("value",selectVal);
            $("#currectVal11").html($(this).html());
          });
        </script>
      </div>

    </div>
    <div class="col-sm-3 col-lg-3">
    <%#= f.input :sat, collection: @restaurant.inventory_template_groups %>
        Saturday<br>
        <div class="input-append btn-group">
        <input id="restaurant_sat" name="restaurant[sat]" type="hidden" value="<%= @restaurant.sat.present? && @restaurant.sat != 0  ? @restaurant.inventory_template_groups.find_by_id(@restaurant.sat).id : "" %>">
        <div id="currectVal12" class="inputSelection rregular pull-left"><%= @restaurant.sat.present? && @restaurant.sat != 0  ? @restaurant.inventory_template_groups.find_by_id(@restaurant.sat).name : "" %></div>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" id="selection12">
          <li><a title="0">&nbsp;</a></li>
          <% @restaurant.inventory_template_groups.each do |itg| %>
            <%= content_tag :li do -%>
              <a title="<%= itg.id %>"><%= itg.name %></a>
            <% end %>
          <% end %>
        </ul>
        <script type="text/javascript">
          $('#selection12 > li a').click(function(){
            var selectVal = $(this).attr("title");
            $("#saturday").attr("value",selectVal);
            $("#restaurant_sat").attr("value",selectVal);
            $("#currectVal12").html($(this).html());
          });
        </script>
      </div>


    </div>
    <div class="col-sm-3 col-lg-3">
    <%#= f.input :sun, collection: @restaurant.inventory_template_groups %>
        Sunday<br>
        <div class="input-append btn-group">
        <input id="restaurant_sun" name="restaurant[sun]" type="hidden" value="<%= @restaurant.sun.present? && @restaurant.sun != 0  ? @restaurant.inventory_template_groups.find_by_id(@restaurant.sun).id : "" %>">
        <div id="currectVal13" class="inputSelection rregular pull-left"><%= @restaurant.sun.present? && @restaurant.sun != 0  ? @restaurant.inventory_template_groups.find_by_id(@restaurant.sun).name : "" %></div>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" id="selection13">
          <li><a title="0">&nbsp;</a></li>
          <% @restaurant.inventory_template_groups.each do |itg| %>
            <%= content_tag :li do -%>
              <a title="<%= itg.id %>"><%= itg.name %></a>
            <% end %>
          <% end %>
        </ul>
        <script type="text/javascript">
          $('#selection13 > li a').click(function(){
            var selectVal = $(this).attr("title");
            $("#sunday").attr("value",selectVal);
            $("#restaurant_sun").attr("value",selectVal);
            $("#currectVal13").html($(this).html());
          });
        </script>
      </div>

    </div>
  </div>
    
  <hr/>
  <h3 class="rmedium">Images</h3>
    <%# unless @restaurant.photos.blank? %>
      <%# @restaurant.photos.each do |pic| %>
        <%# unless pic ==  %>
          <%#= image_tag pic.picture.url(:v100x100) %>
          <!-- img.input :_destroy, :label => "Remove", :as => :boolean %> -->
        <%# end %> 
      <%# end %>
    <%# end %>

  <!-- TODO: refactoring needed -->
  <%= f.simple_fields_for :photos, @restaurant.photos do |img|  %>
    <%# if img.object.new_record? %>
      <%#= img.input :picture, :label => "Picture", :as => :file %>
    <%# else %>
      <%= image_tag(img.object.picture.url(:v100x100)) %>
      <%= img.input :_destroy, :as => :boolean, :label => "Remove" %> 
    <%# end %>
  <% end %>
  <%= f.simple_fields_for :photos, @restaurant.photos.build do |img|  %>
    <%= img.input :picture, :label => "Picture", :as => :file %>
    <%#= img.input :title,    label: "Title" %>
    <%#= img.input :is_cover, label: "Cover?", as: :select, include_blank: false, :selected => false %>
    <%#= img.input :restaurant_id, :as => :hidden%>
  <% end %>

  <div class="actions">
    <%= f.button :submit, "UPDATE", class: "btn btn-primary" %>
    <%= link_to 'SHOW', @restaurant, class: "btn btn-primary" %>
  </div>

  </div>
   
<% end %> 