<%= simple_form_for([@restaurant], html: { class: "form-horizontal"}) do |f| %>
  
  <%= f.input :name, label: "Name" %>
  <%= f.input :category, label: "Type/Category" %>

  <%= f.input :days_in_advance, label: "Days out allow bookings" %>
  <%= f.input :min_booking_time, label: "Minutes in advance bookings close" %>
  <%= f.input :res_duration, label: "Duration of each booking" %>

  <h2>Cuisines</h2>
  <%= f.association :cuisine_tags, :as => :check_boxes, :collection => CuisineTag.where("id >1"), :hint => "Please click all that apply" %>

  <%= f.input :price, label: "Price" %>
  <%= f.input :lat, label: "Latitude" %>
  <%= f.input :lng, label: "Longitude" %>
  <%= f.input :misc, label: "Misc", as: :text, input_html: { rows: "3"} %>
 
  <div class="actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
   
<% end %> 