<!--  @restaurant.photos.build unless @restaurant.photos.blank? %> -->
<%= simple_form_for([@restaurant], html: { class: "form-horizontal"}) do |f| %>
  <div class="col-sm-12 col-lg-12">

  <%= f.input :name, label: "Name: <i>#{@restaurant.name}</i>".html_safe %>

  <div class="row" style="margin-left: -15px;">
    <div class="col-sm-4 col-lg-4">
    <%= f.input :days_in_advance, label: "Days out allow bookings" %>
    </div>
    <div class="col-sm-4 col-lg-4">
    <%= f.input :min_booking_time, collection: [:"0", :"15", :"30", :"45", :"60", :"90", :"120", :"180", :"1440"], priority: [ :"15" ], include_blank: false ,label: "Minutes in advance bookings close" %>
    </div>
    <div class="col-sm-4 col-lg-4">
    <%= f.input :res_duration, collection: [:"30", :"45", :"60", :"75", :"90", :"105"], priority: [ :"30" ], include_blank: false, label: "Duration of each booking" %>
    </div>
  </div>

  <div class="row" style="margin-left: -15px;">
    <div class="col-sm-4 col-lg-4">
    <%= f.input :est_duration, collection: [:"0", :"15", :"30", :"45", :"60", :"90", :"120", :"180"], include_blank: false,  label: "est_duration, min" %>
    </div>
    <div class="col-sm-4 col-lg-4">
    <%= f.input :est_duration_confidence, collection: Array.new(21){ |i| (i*5).to_s }, include_blank: false ,label: "est_duration_confidence, %" %>
    </div>
    <div class="col-sm-4 col-lg-4">
    </div>
  </div>


  <%#= f.input :price, label: "Price" %>
  <%= f.input :largest_table, label: "Largest Table"%>
  <%= f.input :lat, label: "Latitude" %>
  <%= f.input :lng, label: "Longitude" %>
  
  <%= f.input :address, label: "Address", as: :text, input_html: { rows: "2", class: "text_area_for_misc"} %>
  <%= f.input :phone, label: "Phone" %>
  <%= f.input :website, label: "Website" %>

  <%= f.input :misc, label: "Misc", as: :text, input_html: { rows: "5", class: "text_area_for_misc"} %>

  <hr/>
  <h3 class="rmedium">Restaurant Tags</h3>
  <div class="row" style="margin-left: -15px;">
    <div class="col-sm-4 col-lg-4">
    <h4 class="rmedium" style="font-weight: bold; margin-left:40px;">Location</h4>
    <%= f.association :restaurant_tags, :as => :check_boxes, :collection => RestaurantTag.where('title LIKE ?', 'Location%'), :label => "", :item_wrapper_class => 'checkbox_container' %>
    </div>
    <div class="col-sm-4 col-lg-4">
    <h4 class="rmedium" style="font-weight: bold; margin-left:40px;">Cuisines</h4>
    <%= f.association :restaurant_tags, :as => :check_boxes, :collection => RestaurantTag.where('title LIKE ?', 'Cuisine%'), :label => "", :item_wrapper_class => 'checkbox_container' %>
    </div>
    <div class="col-sm-4 col-lg-4">
    <h4 class="rmedium" style="font-weight: bold; margin-left:40px;">Other</h4>
    <%= f.association :restaurant_tags, :as => :check_boxes, :collection => RestaurantTag.where('title NOT LIKE ? AND title NOT LIKE ?', 'Cuisine%', 'Location%'), :label => "", :item_wrapper_class => 'checkbox_container' %>
    </div>
  </div>

  <!-- item_wrapper_class => 'checkbox_container'  -->


  <hr/>
  <!-- TODO: refactor -->
  <h3 class="rmedium">Schedule</h3>
  <div class="row" style="margin-left: -15px;">
    <div class="col-sm-3 col-lg-3">
    <%= f.input :mon, collection: @restaurant.inventory_template_groups %>
    </div>
    <div class="col-sm-3 col-lg-3">
    <%= f.input :tue, collection: @restaurant.inventory_template_groups %>
    </div>
    <div class="col-sm-3 col-lg-3">
    <%= f.input :wed, collection: @restaurant.inventory_template_groups %>
    </div>
    <div class="col-sm-3 col-lg-3">
    <%= f.input :thu, collection: @restaurant.inventory_template_groups %>
    </div>
  </div>
  <div class="row" style="margin-left: -15px;">
    <div class="col-sm-3 col-lg-3">
    <%= f.input :fri, collection: @restaurant.inventory_template_groups %>
    </div>
    <div class="col-sm-3 col-lg-3">
    <%= f.input :sat, collection: @restaurant.inventory_template_groups %>
    </div>
    <div class="col-sm-3 col-lg-3">
    <%= f.input :sun, collection: @restaurant.inventory_template_groups %>
    </div>
  </div>
    
  <hr/>
  <h3 class="rmedium">Images</h3>
    <%# unless @restaurant.photos.blank? %>
      <%# @restaurant.photos.each do |pic| %>
        <%# unless pic ==  %>
          <%#= image_tag pic.picture.url(:v100x100) %>
          <!-- img.input :_destroy, :label => "Remove", :as => :boolean %> -->
        <%# end %> 
      <%# end %>
    <%# end %>

  <!-- TODO: refactoring needed -->
  <%= f.simple_fields_for :photos, @restaurant.photos do |img|  %>
    <%# if img.object.new_record? %>
      <%#= img.input :picture, :label => "Picture", :as => :file %>
    <%# else %>
      <%= image_tag(img.object.picture.url(:v100x100)) %>
      <%= img.input :_destroy, :as => :boolean, :label => "Remove" %> 
    <%# end %>
  <% end %>
  <%= f.simple_fields_for :photos, @restaurant.photos.build do |img|  %>
    <%= img.input :picture, :label => "Picture", :as => :file %>
    <%#= img.input :title,    label: "Title" %>
    <%#= img.input :is_cover, label: "Cover?", as: :select, include_blank: false, :selected => false %>
    <%#= img.input :restaurant_id, :as => :hidden%>
  <% end %>

  <div class="actions">
    <%= f.button :submit, "UPDATE", class: "btn btn-primary" %>
    <%= link_to 'SHOW', @restaurant, class: "btn btn-primary" %>
  </div>

  </div>
   
<% end %> 