<% @restaurant.cuisine_tags.build %>
<%= simple_form_for([@restaurant], html: { class: "form-horizontal"}) do |f| %>
  
  <%= f.input :name, label: "Name" %>
  <%= f.input :category, label: "Type/Category" %>

  <%= f.input :days_in_advance, label: "Days out allow bookings" %>
  <%= f.input :min_booking_time, label: "Minutes in advance bookings close" %>
  <%= f.input :res_duration, label: "Duration of each booking" %>

  <h3>Cuisines</h3>
  <%= render :partial => 'cuisine_tags/form',
             :locals => {:form => f} %>

  <%= f.input :price, label: "Price" %>
  <%= f.input :lat, label: "Latitude" %>
  <%= f.input :lng, label: "Longitude" %>
  <%= f.input :misc, label: "Misc", as: :text, input_html: { rows: "3"} %>
 
  <div class="actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
   
<% end %> 