<div class="topContent container">
  <div class="row">
    <div class="col-sm-8 col-lg-8">
      <h2 class="rbold">All Restaurants</h2>
      <!-- <h3 class="rlight">We've found 30 restaurants for you.</h3> -->
      <div class="list result">

      <ul class="media-list">
         <% @restaurants.each_with_index do |restaurant, index| %>
              
                <li class="media">
                  <a href="<%= restaurant_path(restaurant)%>" class="pull-left">
                    <% if restaurant.photos.first.present? %>
                      <%= image_tag restaurant.photos.first.picture.url(:v280x160), :size => "244x144" %>
                    <% else %>
                      <img src="http://www.placehold.it/244x144" class="media-object img-responsive hidden-xs">
                    <% end %>
                  </a>
                  <div class="media-body">
                    <div class="col-sm-12 col-lg-9">
                      <h4 class="media-heading">
                        <%= link_to restaurant.name, restaurant_path(restaurant) %>
                      </h4>
                      <p><%= restaurant.misc %></p>
                      <p>
                        <% unless restaurant.star_format == 0 %>
                          <% restaurant.star_format.times do |s| %>
                            <i class="glyphicon glyphicon-star pink"></i>
                          <% end %>
                        <% else %>
                          Not received any star rank
                        <% end %>  
                        <span style="padding-left:20px"/>
                        <% unless restaurant.price_format == 0 %>
                          <% restaurant.price_format.times do |s| %>
                            <i class="glyphicon glyphicon-usd"></i>
                          <% end %>
                        <% else %>
                          No yet assigned any price rank
                        <% end %>
                      </p>
                      <p><i class="glyphicon glyphicon-tag"></i> <%= restaurant.cuisines_format %></p>
                    </div>
                    <div class="col-sm-12 col-lg-3">
                      <%= button_to 'BOOK NOW', restaurant, :class => "btn btn-primary ", :method => :get %>
                    </div>
                  </div>
                </li><!-- News 1 -->
              <% end %>
          
      </ul>

      <div class="navigation">
          <%= paginate @restaurants, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered"%>
      </div>

      </div>
    </div>
  </div>
</div>