<h1>Listing restaurants</h1>

<table  class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <!-- <th>Category</th> -->
    <!-- <th>Price</th> -->
    <th>Restaurant tags</th>
    <!-- <th>Misc</th> -->
    <th></th>
    <!--<th></th>-->
    <!--<th></th>-->
  </tr> 
  </thead>

<% @restaurants.each do |restaurant| %>
  <tr>
    <!-- TODO: use special gem for picture attaching  -->
    <!-- <td><img src="/<%= restaurant.id %>.jpg"></td> -->
    <td><%= restaurant.name %></td>
    <!-- <td><%= restaurant.category %></td> -->
    <!-- <td><%= price_to_dollars_symb(restaurant.price) %></td> -->
    <td><%= join_restaurant_tags(restaurant) %></td>
    <!-- <td><%= restaurant.misc %></td> -->
    <td><%= link_to 'Show', restaurant %></td>
    <!-- <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td> -->
    <!-- <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Restaurant', new_restaurant_path %>
