<!-- # encoding: utf-8 -->
<script>
    var res_duration = "<%= @restaurant.res_duration %>";
</script>

<table>
  <tr>
    <td style="width:560px">
      <%= image_tag(@image_tag_string) %>
    </td>
    <td align="left">
      <p>
        <b>Owner:</b>
        <%= @restaurant.owner.owner_name %>
      </p>

      <p>
        <b><%= t("restaurant.name") %>:</b>
        <%= @restaurant.name %>
      </p>

      <p>
        <b>Days out allow bookings:</b>
        <%= @restaurant.days_in_advance %>
      </p>

      <p>
        <b>Minutes in advance bookings close</b>
        <%= t("restaurant.min_booking_time.#{@restaurant.min_booking_time}") %>
      </p>

      <p>
        <b>Duration of each booking:</b>
        <%= t("restaurant.res_duration.#{@restaurant.res_duration}") %>
      </p>

      <p>
        <b>Largest Table:</b>
        <%= @restaurant.largest_table %>
      </p>

      <p>
        <b>Restaurant tags:</b>
        <%= join_restaurant_tags(@restaurant) %>
      </p>

      <!-- <p>
        <b>Price:</b>
        <%#= price_to_dollars_symb(@restaurant.price) %>
      </p> -->

      <p>
        <b>Misc:</b>
        <%= @restaurant.misc %>
      </p>

      <p>
        <b>Lat:</b>
        <%= @restaurant.lat %>
      </p>

      <p>
        <b>Lng:</b>
        <%= @restaurant.lng %>
      </p>
    </td>
   
  </tr>

  <tr>

    <td colspan="2">
      <b>Photos:</b>
      <% unless @restaurant.photos.blank? %>
        <% @restaurant.photos.each do |pic| %>
            <%= image_tag pic.picture.url(:v100x100) %>
        <% end %>
        <% else %>
          None
      <% end %>
    </td>
  </tr>

</table>

<p />Available Bookings<br>
<% @restaurant.inventories.each do |n| %>
<%= n.date %> <%= n.start_time.hour %>:<%= n.start_time.min %> <%= n.quantity_available %> 

<% if current_user.nil? then %>
<%= link_to "Login", new_user_session_path %> to Book
<% else%>
  <%= link_to 'Book Now', new_reservation_path(:restaurant_id=>@restaurant.id,:day=>n.date.day,:month=>n.date.month,:year=>n.date.year) %>
<% end %>
<br>
<% end %>

<%= current_user.nil? ? 'yes' : 'no' %>

<br>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>

<p />

<div id="reservations">
  <h3 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h3>
  <%= calendar @date do |date| %>
    <%= content_tag :div, :class => ('today' if (date == @date) ) do %>
      <%= link_to date.day, date: date %>
    <% end %>
  <% end %>
</div>

<p />

<h3>Available places at <%= @date %></h3>
<table id="restaurant_avaible_places" class="table table-striped table-bordered table-hover" style="float:left;">
  <thead>
    <tr>
      <th></th>
      <% get_intervals.each_with_index do |interval, index| %>
        <% if index%4 == 0 and interval != "24:00" %>
          <th><%= interval.slice(0..1) %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>

  <% (0..3).each do |row| %>
    <tr>
      <td style="font-weight:bold;"><%= row*15 %></td>
      <% 24.times do |i| %>
        <td>
          <% unless @quantity[row][i].blank? %>
            <%= content_tag :div, :class => ((@quantity[row][i] == 0) ? 'full' : nil ) do %>
              <%# if owner_signed_in? or user_signed_in? %>
                <% if @quantity[row][i] > 0 %>
                  <% i = "0"+ i.to_s if i < 10  %>
                  <% j = row*15  %>
                  <% j = "0"+ j.to_s if j == 0  %>
                  <%#= link_to "#{i}:#{j}", new_reservation_path(:start_time => "#{i}:#{j}", :date => @date ), :method => :get, :class => "btn btn-small" %>
                  <%= link_to "#{i}:#{j}", "#", :class => "btn btn-small btn-time" %>
                <%# else %>
                  <%#= @quantity[row][i] %>
                <% end %>
              <%# else %>
                <%#= @quantity[row][i] %>
              <%# end %>
            <% end %>
          <% end %>
        </td>
      <% end %>
      </tr>
    <% end %>
</table>

<% if user_signed_in? or owner_signed_in? %>
  <span id="time_selected" class="input-xxlarge uneditable-input">Choose start-time. End-time is automatically processed. </span>
  <%#= render 'reservations/form_on_restaurant' %>
  
  <%= simple_form_for([@reservation], html: { class: "form-horizontal"}) do |f| %>

    <div class="hide_element">
      <%#= f.label "Start Time" %>
      <%= f.select :start_time, @intervals %>
      <%#= f.label "End Time" %>
      <%= f.select :end_time, @intervals %>
    </div>

    <%= f.input :date, :as => :hidden, input_html: { value: @date} %>
    <%= f.input :restaurant_id, :as => :hidden, input_html: { value: @restaurant.id } %>
    <%= f.input :active, :as => :hidden, :input_html => { value: 1 }, label: "active" %>

    <%= f.input :party_size, label: "Party Size" %>

    <% unless user_signed_in? %>
      <%= f.input :name,  label: "Name",  :required => :true %>
      <%= f.input :email, label: "Email", :required => :true %>
      <%= f.input :phone, label: "Phone", :required => :true %>
    <% end %>

    <% unless user_signed_in? %>
      <%= f.input :table, label: "Table", as: :text, input_html: { rows: "5", class: "text_area_for_misc"} %>
    <% end %>

    <%#= f.input :active, label: "active" %>
   
    <%= f.input :special_request, label: "Special Request", as: :text, input_html: { rows: "5", class: "text_area_for_misc"} %>

    <div class="actions">
      <%= f.submit "Make Booking" , class: "btn btn-primary" %>
    </div>
   
  <% end %>
<% end %>


</div>


