<!-- <h4>Photos</h4> -->

 <!-- simple_fields_for :photos do |img|  -->
<%= simple_form_for([@photo], html: { class: "form-horizontal"}) do |f| %>

  <%= f.input :title,    label: "Title", :required => :true  %>
  <%= f.input :picture, :label => "Picture", :as => :file,  :required => :true  %>
  <%= f.input :is_cover, label: "Cover?", as: :select, include_blank: false,    :selected => false %>

  <div class="actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>

<% end %>