<div id="hh-owner" class="topContent container">
  <div class="row">

    <%= render :partial => "setting_left_tab", :locals => {:active_tab => 'account' }%>
    
    <div class="col-sm-9 col-lg-9">
      
      
      <!-- <div class="storyContent setting" id ="dashboard"> -->
      <div class="settings-panel">
            <div class="header">
              <h3>Account</h3>
            </div>
            <div class="content">
              <div id="profile-form">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#myprofile" data-toggle="tab">My Profile</a></li>
                  <li><a href="#myrestaurant" data-toggle="tab">My Restaurant</a></li>
                  <li><a href="#tag" data-toggle="tab">Tags</a></li>
                  <li><a href="#schedule" data-toggle="tab">Schedule</a></li>
                  <li><a href="#image" data-toggle="tab">Images</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content" id="account-profile">
                  <%= render :partial => "owner_dashboards/account/my_profile" %>
                  <%= render :partial => "owner_dashboards/account/my_restaurant" %>
                  <%= render :partial => "owner_dashboards/account/tags" %>
                  <%= render :partial => "owner_dashboards/account/schedule" %>
                  <%= render :partial => "owner_dashboards/account/images" %>
                </div>

              </div>
            </div>
          </div>


    </div>
  </div><!--/row-->
</div>