<div class="topContent container">
  <div class="row">
    <%= render :partial => "/shared/setting"%>
    <%= render :partial => "/shared/setting_left_tab", :locals => {:active_tab => 'customers' }%>
    
    <div class="col-sm-8 col-sm-8">
    
      <div class="storyContent setting" id ="dashboard">
        <div class="header">
          <h3 class="rmedium">Customers</h3>
        </div>
        <div class="content">


          <table  class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>User</th>
                <th>Name</th>
                <th>Phone</th>
                <th>VIP</th>
              </tr>
            </thead>

            <tbody>
              <% @info_json.each do |user| %>
                <tr>
                  <td><%= user[:user_id].present? ? User.where(:id => user[:user_id]).first.username : "" %></td>
                  <td><%= user[:name] %></td>
                  <td><%= user[:phone] %></td>
                  <td><%= user[:vip].present? ? user[:vip] : false %></td>
                  <!-- <td><%#= link_to "#{user[:vip]} - revert", toggle_customer_status_owner_dashboards_path_url(reservation, :arg => "no_show"), :method => :put, :class => "btn"%></td> -->
                </tr>
              <% end %>
            </tbody>
          </table>


          <br>
        </div>
      </div>
    </div>
  </div><!--/row-->
</div>