<div id="hh-owner" class="topContent container">
  <div class="row">

    <%= render :partial => "setting_left_tab", :locals => {:active_tab => 'inventories' }%>
    
    <div class="col-sm-9 col-lg-9">
      

      
      <div class="storyContent setting" id ="dashboard">
      <!-- <div class="settings-pa  nel"> -->
            <div class="header">
              <h3>Inventories</h3>
            </div>
            <div class="content">
              <div id="inventories">
                <div class="row">
                  <form action="" method="get" role="form" style="font-size: 14px;">
                    <!-- Date Picker -->
                    <div class="col-sm-12 col-md-4 pull-right" id="date-picker">
                      <div class="input-group input-group-sm date" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                        <span class="input-group-addon"><i class="fa fa-calendar" style=" top: 0;"></i></span> 
                        <input type="text" class="form-control" value="<%= @date.present? ? params[:date].gsub!('-','/') : Date.today.strftime('%d/%m/%Y') %>" id="datepicker" name="datepicker" style="background-color: #f5f5f5;">
                      </div>
                      <script type="text/javascript">$('#datepicker').datepicker();</script>
                    </div>
                  </form>
                </div>
                <br>

                <!-- Inverntory Table -->
                <div class="table-responsive">
                  <table class="table table-bordered inventories-table">
                    <thead>
                      <tr>
                        <th>Hr / Min</th>
                        <th>:00</th>
                        <th>:15</th>
                        <th>:30</th>
                        <th>:45</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% 24.times do |hr| %>
                        <tr>
                          <td><%= int_to_hr(hr) %></td>
                          <% 4.times do |min| %>
                          <td>
                            <% @inventories.by_hr_min("#{int_to_hr(hr)}:#{int_to_min(min)}").each do |inv| %>
                              <%= link_to inv.quantity_available, inventory_owner_dashboards_path(inv.id) %>
                            <% end %>
                          </td>
                          <% end %>
                        </tr>
                      <% end %>

                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>


    </div>
  </div><!--/row-->
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $('#datepicker').datepicker().on('changeDate', function (ev) {
        $('#datepicker').change();
    });
    $('#datepicker').change(function () {
        date = $('#datepicker').val();
        date = date.replace(/\//g, "-")
        url = "<%= inventories_owner_dashboards_path %>";
        window.location = url.replace("inventories?", "inventories/" + date + "?");
    });
   });
</script>