<div id="hh-owner" class="topContent container">
  <div class="row">

    <%= render :partial => "setting_left_tab", :locals => {:active_tab => 'reports' }%>
    
    <div class="col-sm-9 col-lg-9">
      
      
      <!-- <div class="storyContent setting" id ="dashboard"> -->
      <div class="settings-panel">
            <div class="header">
              <h3>Reports</h3>
            </div>
            <div class="content">
              <div id="reports">
                <div class="row">
                  <form action="" method="get" role="form">
                    <!-- Date -->
                    <div class="col-sm-12 col-md-4" id="summary">
                      <p><strong>Date : </strong><small><%= params[:date].present? ? ("01-"+params[:date]).to_date.strftime('%b %Y') : Time.zone.today.strftime('%b %Y') %></small></p>
                    </div>
                    <!-- Date Picker -->
                    <div class="col-sm-12 col-md-4 pull-right" id="date-picker">
                      <div class="input-group input-group-sm date" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" value="<%= params[:date].present? ? ("01-"+params[:date]).to_date.strftime('%m-%Y') : Time.zone.today.strftime('%m-%Y') %>" id="datepicker" name="datepicker" data-date-format="dd-mm-yyyy">
                      </div>
                      <script type="text/javascript">
                        $('#datepicker').datepicker({
                            format: "mm-yyyy",
                            viewMode: "months", 
                            minViewMode: "months"
                        });
                      </script>
                    </div>
                  </form>
                </div>
                <br>
                <div class="table-responsive">
                  <table class="table table-striped report-table">
                    <thead>
                      <tr>
                        <th>Status</th>
                        <th>Confirm</th>
                        <th>No Show</th>
                        <th>Pending</th>
                        <th>Cancel</th>
                        <th>Totals</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Manual</td>
                        <% total = "#{@completed.owners.count + @no_show.owners.count + @pending.owners.count + @cancel.owners.count}".to_i %>
                        <% tt = total %>
                        <% total = 1 if total == 0 %>
                        <td><%= @completed.owners.count %> (<%= "#{100*@completed.owners.count/total}%" %>)</td>
                        <td><%= @no_show.owners.count %> (<%= "#{100*@no_show.owners.count/total}%" %>)</td>
                        <td><%= @pending.owners.count %> (<%= "#{100*@pending.owners.count/total}%" %>)</td>
                        <td><%= @cancel.owners.count %> (<%= "#{100*@cancel.owners.count/total}%" %>)</td>
                        <td><%= tt %> </td>
                      </tr>
                      <tr>
                        <td>Hungry Hub</td>
                        <% total2 = "#{@completed.exc_owners.count + @no_show.exc_owners.count + @pending.exc_owners.count + @cancel.exc_owners.count}".to_i %>
                        <% tt2 = total2 %>
                        <% total2 = 1 if total2 == 0 %>
                        <td><%= @completed.exc_owners.count %> (<%= "#{100*@completed.exc_owners.count/total2}%" %>)</td>
                        <td><%= @no_show.exc_owners.count %> (<%= "#{100*@no_show.exc_owners.count/total2}%" %>)</td>
                        <td><%= @pending.exc_owners.count %> (<%= "#{100*@pending.exc_owners.count/total2}%" %>)</td>
                        <td><%= @cancel.exc_owners.count %> (<%= "#{100*@cancel.exc_owners.count/total2}%" %>)</td>
                        <td><%= tt2 %> </td>
                      </tr>
                      <tr class="red">
                        <td><strong>Total</strong></td>
                        <% total3 = "#{@completed.count + @no_show.count + @pending.count + @cancel.count}".to_i %>
                        <% tt3 = total3 %>
                        <% total3 = 1 if total3 == 0 %>
                        <td><%= "#{@completed.owners.count + @completed.exc_owners.count }" %> (<%= "#{100*@completed.count/total3}%" %>)</td>
                        <td><%= "#{@no_show.owners.count + @no_show.exc_owners.count}" %> (<%= "#{100*@no_show.count/total3}%" %>)</td>
                        <td><%= "#{@pending.owners.count + @pending.exc_owners.count}" %> (<%= "#{100*@pending.count/total3}%" %>)</td>
                        <td><%= "#{@cancel.owners.count + @cancel.exc_owners.count}" %> (<%= "#{100*@cancel.count/total3}%" %>)</td>
                        <td><%= tt3 %> </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- TABLE END -->
              </div>
            </div>
          </div>


    </div>
  </div><!--/row-->
</div>

<script type="text/javascript">
  $(document).ready(function(){

    $('#datepicker').datepicker().on('changeDate', function (ev) {
        $('#datepicker').change();
    });

    var wto;

    $('#datepicker').change(function() {
      clearTimeout(wto);
      wto = setTimeout(function() {
        // do stuff when user has been idle for 1 second
        date = $('#datepicker').val();
        date = date.replace(/\//g, "-");
        url = "<%= reports_owner_dashboards_path %>";
        window.location = url.replace("reports?", "reports/" + date + "?");
      }, 100);
    });

    // $('#datepicker').change(function () {
    //     date = $('#datepicker').val();
    //     date = date.replace(/\//g, "-");
    //     url = "<%= reports_owner_dashboards_path %>";
    //     window.location = url.replace("reports?", "reports/" + date + "?");
    // });

   });
</script>