<div id="hh-owner" class="topContent container">
  <div class="row">

    <%= render :partial => "setting_left_tab", :locals => {:active_tab => 'reservation' }%>
    
    <div class="col-sm-9 col-lg-9">
      
      
      <!-- <div class="storyContent setting" id ="dashboard"> -->
      <div class="settings-panel">
            <div class="header">
              <h3>Reservations</h3>
            </div>
            <div class="content">
              <div id="reservations">
                <div class="row">
                  <form action="" method="get" role="form">
                    <!-- New Reservation -->
                    <div class="col-sm-12 col-md-4" id="add-reservation">
                      <%= link_to '+ New Reservation', reservation_owner_dashboards_path(id: "new"), class: "btn btn-reservation btn-xs" %>
                    </div>
                    <!-- Summary -->
                    <div class="col-sm-12 col-md-4" id="summary">
                      <p>
                        <small>Reservations :&nbsp; </small>
                          <strong><%= @reservations.count %></strong>
                        <small>&nbsp;Covers :&nbsp; </small>
                          <strong><%= @reservations.map(&:party_size).compact.reduce(0, :+) %></strong>
                      </p>
                    </div>
                    <!-- Date Picker -->
                    <div class="col-sm-12 col-md-4 pull-right" id="date-picker">
                      <div class="input-group input-group-sm date" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" value="<%= @date.present? ? params[:date] : Date.today.strftime('%d-%m-%Y') %>" id="datepicker" name="datepicker" data-date-format="dd-mm-yyyy">
                      </div>
                      <script type="text/javascript">$('#datepicker').datepicker();</script>
                    </div>
                  </form>
                </div>
                <br>

                <% if @reservations.present? || @reservations_pending.present? ||  @reservations_confirm.present?  %>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#all" data-toggle="tab">All</a></li>
                  <li><a href="#pending" data-toggle="tab">Pending</a></li>
                  <li><a href="#confirm" data-toggle="tab">Confirm</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" id="account-reservation">
                  <div class="tab-pane fade in active" id="all">
                    <%= render :partial => "owner_dashboards/reservations/table", :locals => { reservations: @reservations } %>
                  </div>
                  <div class="tab-pane fade" id="pending">
                    <%= render :partial => "owner_dashboards/reservations/table", :locals => { reservations: @reservations_pending }  %>
                  </div>
                  <div class="tab-pane fade" id="confirm">
                    <%= render :partial => "owner_dashboards/reservations/table", :locals => { reservations: @reservations_confirm }  %>
                  </div>
                </div>
                <% else %>
                  <div style="padding-bottom:95px;">
                    No reservations during <%= @date.present? ? Date.strptime(params[:date], '%d-%m-%Y').strftime('%d %b %Y') : Date.today.strftime('%d %b %Y') %>
                  </div>
                <% end %>

              </div>
            </div>
          </div>


    </div>
  </div><!--/row-->
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#datepicker').datepicker().on('changeDate', function (ev) {
        $('#datepicker').change();
    });
    $('#datepicker').change(function () {
        date = $('#datepicker').val();
        date = date.replace(/\//g, "-")
        url = "<%= reservations_owner_dashboards_path %>";
        window.location = url.replace("reservations?", "reservations/" + date + "?");
    });
   });
</script>

