<div class="navbar navbar-black navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button data-target=".navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
        <span class="sr-only">Toggle</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="<%= root_path%>">hungry hub</a>
    </div>


    <nav role="navigation" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <!-- <a class="dropdown-toggle lblack" href="#">RESTAURANTS</a> -->
          <%= link_to t("restaurants"), all_restaurants_path, class: "dropdown-toggle lblack" %>
        </li>
      </ul>

      <%= form_tag('/search', method: "get", :class => 'navbar-form navbar-left') do %>
          <div class="input-group input-group-sm">
            <%= autocomplete_field_tag 'name', '', home_autocomplete_restaurant_name_path, id: 'autocomplete_name_field', :id_element => '#redirect_elem', class: "form-control llitalic", placeholder:"Search for restaurants in Bangkok", style:"background-color:white;" %>
              <div class="input-group-btn">
                <%= button_tag(type: "submit", class: "btn btn-default") do %>
                  <i class="glyphicon glyphicon-search"></i>                
                <% end %>
              </div>
          </div>
      <% end %>

        <ul class="nav navbar-nav navbar-right">
          <% if owner_signed_in? == false && user_signed_in? == false %> 
            <li>
              <button class="btn btn-default login navbar-btn navbar-right lblack action" id="login" type="button">LOG IN</button>
            </li>
            <li>
              <button class="btn btn-default signup navbar-btn navbar-right lblack action" id="signup" type="button">SIGN UP</button>
            </li>
          <% end %>
          <% if owner_signed_in? == false && user_signed_in? == false %>
            <li class="ownerUnlog">
              <a data-toggle="dropdown" id="ownerlogin" class="dropdown-toggle lblack action" href="#">For Your Business <b class="caret"></b>
              </a>
            </li>
          <% end %>
          <% if owner_signed_in? %>
            <li class="ownerLoged dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle lblack" href="#"><%= current_owner.owner_name.upcase %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <!-- <li>
                  <%#= link_to "My Restaurant", current_owner.restaurant.blank? ? new_restaurant_path  : edit_restaurant_path(current_owner.restaurant)  %>
                </li>
                <li>
                  <%#= link_to "Reservations", reservations_path %>
                </li>
                <li>
                  <%#= link_to t("inventories"), inventories_path %>
                </li>
                <li>
                  <%#= link_to "Inventory Template Groups", current_owner.restaurant.blank? ? new_restaurant_path : inventory_template_groups_path %>
                </li> -->
                <li><a href="<%= owner_dashboards_path%>"><i style="margin-right:5px;" class="glyphicon glyphicon-cog"></i>SETTING</a></li>
                <li>
                  <%= link_to "<i style='margin-right:5px;' class='glyphicon glyphicon-off'></i>LOG OUT".html_safe, destroy_owner_session_path, :method => :delete %>
                </li>
              </ul>
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li class="userLoged dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle lblack" href="#">
                Welcome <%= current_user.username.capitalize %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
               <li>
                  <%= link_to  '<i class="fa fa-list-ul"></i>&nbsp; Dashboard'.html_safe, user_dashboards_path %>
                </li>
                <li>
                  <%= link_to '<i class="fa fa-file-text-o"></i>&nbsp; Reservations'.html_safe, reservations_user_dashboards_path %>
                </li>
                <li>
                  <%= link_to '<i class="fa fa-star-o"></i>&nbsp; Rewards'.html_safe,rewards_user_dashboards_path %>
                </li>
                <li>
                  <%= link_to '<i class="fa fa-user"></i>&nbsp; Profile'.html_safe, edit_user_registration_path(current_user) %>
                </li>
                <% unless current_user.verified %>
                  <li>
                    <%= link_to '<i class="glyphicon glyphicon-check"></i>&nbsp; Verify'.html_safe, verify_user_dashboards_path %>
                  </li>
                <% end %>
                <li>
                  <%= link_to "<i class='glyphicon glyphicon-off'></i>&nbsp; Log Out".html_safe, destroy_user_session_path, :method => :delete %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
    </nav>
  </div>
</div>

<script type="text/javascript">
  $('#autocomplete_name_field').bind('railsAutocomplete.select', function(event, data){
    // alert(data.item.id);
    url = "<%= restaurant_path(0) %>";
    window.location = url.replace("restaurants/0", "restaurants/" + data.item.id);
  });
</script>
