<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
  <meta charset="utf-8">
  <title>Hungry Hub</title>
  <meta name="generator" content="Yosaki" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>HungryHub</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head> 
<body> 
    

<div class="wrapper">
  <div class="box">
    <div class="row row-offcanvas row-offcanvas-left">
                   
      <!-- main right col -->
      <div class="column col-sm-12 col-xs-12" id="main">
        <%= render :partial => "layouts/header" %>

        <div class="flash_container">
          <% if flash[:notice] -%>
          <div id="flash_notice"><%= flash[:notice] %></div>
          <% elsif flash[:alert] -%>
          <div id="flash_alert"><%= flash[:alert] %></div>
          <% elsif flash[:error] -%>
          <div id="flash_error"><%= flash[:error] %></div>
          <% end %>
        </div>
        <%= yield %>
      </div>
      <%= render :partial => "layouts/footer" %>
      </div>
      <!-- /main -->

    </div>
  </div>
</div>


</body>
</html>
